# Pandas분석

## Pandas

pandas는 DataFrame의 경우 2차원 테이블로서 나타낼 수 있다.   
한 열은 다 series로 불림.  
index. series, DataFrame은 알고 있을 것.  
  
딥러닝을 지원하는 프레임워크들이 대부분 리눅스에 대해서 지원이 잘된다.

In [1]:
import pandas as pd

pandas에서 indexing, slicing하는 방법은 6가지!!

In [2]:
df = pd.read_csv('data-netflix.csv')

In [3]:
type(df[['title']]) # 이렇게 []를 2개로 쓰면 DataFrame객체로 반환

pandas.core.frame.DataFrame

In [4]:
type(df['title']) # 이렇게 []를 1개로 쓰면 Series객체로 반환된다.

pandas.core.series.Series

In [5]:
type(df.title) # 이렇게 .으로(attribute방식) 찾을 경우 Series객체가 반환

pandas.core.series.Series

In [6]:
df[['title']] # 밑에 보면 2차원 테이블 형식의 DataFrame객체로 반환

                                          title
0                                  White Chicks
1                           Lucky Number Slevin
2                                Grey's Anatomy
3                                  Prison Break
4                         How I Met Your Mother
5                                  Supernatural
6                                  Breaking Bad
7                           The Vampire Diaries
8                              The Walking Dead
9                           Pretty Little Liars
10                             Once Upon a Time
11                                     Sherlock
12                                   Death Note
13                                       Naruto
14                                   The Hunter
15                        Lottie Dottie Chicken
16                                        Arrow
17                                 Black Mirror
18                                The Originals
19                                      The 100
20                           Masha and the Bear
21                    Ã“ Pai, Ã“ - Look at This
22                       Nymphomaniac: Volume 1
23                       Hunter X Hunter (2011)
24                           Marvel's Luke Cage
25                           Marvel's Iron Fist
26                                       Narcos
27                                    The Flash
28                        The Seven Deadly Sins
29                                       Scream
..                                          ...
970                                       Annie
971          An American Tail: Fievel Goes West
972                        D2: The Mighty Ducks
973                    Honey, I Shrunk the Kids
974                              The Iron Giant
975                     The Fox and the Hound 2
976                                 Air Buddies
977             Dr. Dolittle: Tail to the Chief
978                                    Flicka 2
979                         H2O: Just Add Water
980                                The Gruffalo
981                                Dolphin Tale
982                               Pound Puppies
983  Beverly Hills Chihuahua 3: Viva La Fiesta!
984                        The Magic School Bus
985                                   Step Dogs
986                     PokÃ©mon: Indigo League
987                                  Mia and Me
988                                  Paddington
989                             Russell Madness
990                           My Animal Friends
991                          Dawn of the Croods
992                  Alpha and Omega: Dino Digs
993                   Wiener Dog Internationals
994                                    Pup Star
995                                     The BFG
996                     The Secret Life of Pets
997                            Precious Puppies
998                                 Beary Tales
999                             Growing Up Wild

[1000 rows x 1 columns]

In [7]:
df['title'] # 1차원 벡터로 구성된 Series객체

0                                    White Chicks
1                             Lucky Number Slevin
2                                  Grey's Anatomy
3                                    Prison Break
4                           How I Met Your Mother
5                                    Supernatural
6                                    Breaking Bad
7                             The Vampire Diaries
8                                The Walking Dead
9                             Pretty Little Liars
10                               Once Upon a Time
11                                       Sherlock
12                                     Death Note
13                                         Naruto
14                                     The Hunter
15                          Lottie Dottie Chicken
16                                          Arrow
17                                   Black Mirror
18                                  The Originals
19                                        The 100
20                             Masha and the Bear
21                      Ã“ Pai, Ã“ - Look at This
22                         Nymphomaniac: Volume 1
23                         Hunter X Hunter (2011)
24                             Marvel's Luke Cage
25                             Marvel's Iron Fist
26                                         Narcos
27                                      The Flash
28                          The Seven Deadly Sins
29                                         Scream
                          ...
970                                         Annie
971            An American Tail: Fievel Goes West
972                          D2: The Mighty Ducks
973                      Honey, I Shrunk the Kids
974                                The Iron Giant
975                       The Fox and the Hound 2
976                                   Air Buddies
977               Dr. Dolittle: Tail to the Chief
978                                      Flicka 2
979                           H2O: Just Add Water
980                                  The Gruffalo
981                                  Dolphin Tale
982                                 Pound Puppies
983    Beverly Hills Chihuahua 3: Viva La Fiesta!
984                          The Magic School Bus
985                                     Step Dogs
986                       PokÃ©mon: Indigo League
987                                    Mia and Me
988                                    Paddington
989                               Russell Madness
990                             My Animal Friends
991                            Dawn of the Croods
992                    Alpha and Omega: Dino Digs
993                     Wiener Dog Internationals
994                                      Pup Star
995                                       The BFG
996                       The Secret Life of Pets
997                              Precious Puppies
998                                   Beary Tales
999                               Growing Up Wild
Name: title, Length: 1000, dtype: object

In [8]:
df.title # attribute 방식으로 한개의 column에 대해 접근 시에 Series객체 반환

0                                    White Chicks
1                             Lucky Number Slevin
2                                  Grey's Anatomy
3                                    Prison Break
4                           How I Met Your Mother
5                                    Supernatural
6                                    Breaking Bad
7                             The Vampire Diaries
8                                The Walking Dead
9                             Pretty Little Liars
10                               Once Upon a Time
11                                       Sherlock
12                                     Death Note
13                                         Naruto
14                                     The Hunter
15                          Lottie Dottie Chicken
16                                          Arrow
17                                   Black Mirror
18                                  The Originals
19                                        The 100
20                             Masha and the Bear
21                      Ã“ Pai, Ã“ - Look at This
22                         Nymphomaniac: Volume 1
23                         Hunter X Hunter (2011)
24                             Marvel's Luke Cage
25                             Marvel's Iron Fist
26                                         Narcos
27                                      The Flash
28                          The Seven Deadly Sins
29                                         Scream
                          ...
970                                         Annie
971            An American Tail: Fievel Goes West
972                          D2: The Mighty Ducks
973                      Honey, I Shrunk the Kids
974                                The Iron Giant
975                       The Fox and the Hound 2
976                                   Air Buddies
977               Dr. Dolittle: Tail to the Chief
978                                      Flicka 2
979                           H2O: Just Add Water
980                                  The Gruffalo
981                                  Dolphin Tale
982                                 Pound Puppies
983    Beverly Hills Chihuahua 3: Viva La Fiesta!
984                          The Magic School Bus
985                                     Step Dogs
986                       PokÃ©mon: Indigo League
987                                    Mia and Me
988                                    Paddington
989                               Russell Madness
990                             My Animal Friends
991                            Dawn of the Croods
992                    Alpha and Omega: Dino Digs
993                     Wiener Dog Internationals
994                                      Pup Star
995                                       The BFG
996                       The Secret Life of Pets
997                              Precious Puppies
998                                   Beary Tales
999                               Growing Up Wild
Name: title, Length: 1000, dtype: object

DataFrame객체에 접근하는 attribute방식

In [9]:
df.columns #컬럼명에 공백이 있을 경우 attribute방식으로 접근할 수 없다.

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [10]:
df[['title', 'rating']] #이러한 dictionary방식은 2개 이상 불러올 수 있다.

                                          title rating
0                                  White Chicks  PG-13
1                           Lucky Number Slevin      R
2                                Grey's Anatomy  TV-14
3                                  Prison Break  TV-14
4                         How I Met Your Mother  TV-PG
5                                  Supernatural  TV-14
6                                  Breaking Bad  TV-MA
7                           The Vampire Diaries  TV-14
8                              The Walking Dead  TV-MA
9                           Pretty Little Liars  TV-14
10                             Once Upon a Time  TV-PG
11                                     Sherlock  TV-14
12                                   Death Note  TV-14
13                                       Naruto  TV-PG
14                                   The Hunter      R
15                        Lottie Dottie Chicken   TV-Y
16                                        Arrow  TV-14
17                                 Black Mirror  TV-MA
18                                The Originals  TV-14
19                                      The 100     NR
20                           Masha and the Bear   TV-Y
21                    Ã“ Pai, Ã“ - Look at This  TV-MA
22                       Nymphomaniac: Volume 1     NR
23                       Hunter X Hunter (2011)     NR
24                           Marvel's Luke Cage  TV-MA
25                           Marvel's Iron Fist  TV-MA
26                                       Narcos  TV-MA
27                                    The Flash  TV-PG
28                        The Seven Deadly Sins  TV-14
29                                       Scream  TV-14
..                                          ...    ...
970                                       Annie     PG
971          An American Tail: Fievel Goes West      G
972                        D2: The Mighty Ducks     PG
973                    Honey, I Shrunk the Kids     PG
974                              The Iron Giant     PG
975                     The Fox and the Hound 2      G
976                                 Air Buddies     PG
977             Dr. Dolittle: Tail to the Chief     PG
978                                    Flicka 2     PG
979                         H2O: Just Add Water  TV-PG
980                                The Gruffalo   TV-Y
981                                Dolphin Tale     PG
982                               Pound Puppies   TV-Y
983  Beverly Hills Chihuahua 3: Viva La Fiesta!      G
984                        The Magic School Bus   TV-Y
985                                   Step Dogs  TV-PG
986                     PokÃ©mon: Indigo League   TV-Y
987                                  Mia and Me   TV-Y
988                                  Paddington     PG
989                             Russell Madness     PG
990                           My Animal Friends   TV-Y
991                          Dawn of the Croods  TV-Y7
992                  Alpha and Omega: Dino Digs   TV-G
993                   Wiener Dog Internationals      G
994                                    Pup Star      G
995                                     The BFG     PG
996                     The Secret Life of Pets     PG
997                            Precious Puppies   TV-G
998                                 Beary Tales   TV-G
999                             Growing Up Wild      G

[1000 rows x 2 columns]

In [11]:
df[['rating','title']] #이러한 dictionary방식은 순서를 바꿔서 출력 시킬 수도 있다.(sequence)

    rating                                       title
0    PG-13                                White Chicks
1        R                         Lucky Number Slevin
2    TV-14                              Grey's Anatomy
3    TV-14                                Prison Break
4    TV-PG                       How I Met Your Mother
5    TV-14                                Supernatural
6    TV-MA                                Breaking Bad
7    TV-14                         The Vampire Diaries
8    TV-MA                            The Walking Dead
9    TV-14                         Pretty Little Liars
10   TV-PG                            Once Upon a Time
11   TV-14                                    Sherlock
12   TV-14                                  Death Note
13   TV-PG                                      Naruto
14       R                                  The Hunter
15    TV-Y                       Lottie Dottie Chicken
16   TV-14                                       Arrow
17   TV-MA                                Black Mirror
18   TV-14                               The Originals
19      NR                                     The 100
20    TV-Y                          Masha and the Bear
21   TV-MA                   Ã“ Pai, Ã“ - Look at This
22      NR                      Nymphomaniac: Volume 1
23      NR                      Hunter X Hunter (2011)
24   TV-MA                          Marvel's Luke Cage
25   TV-MA                          Marvel's Iron Fist
26   TV-MA                                      Narcos
27   TV-PG                                   The Flash
28   TV-14                       The Seven Deadly Sins
29   TV-14                                      Scream
..     ...                                         ...
970     PG                                       Annie
971      G          An American Tail: Fievel Goes West
972     PG                        D2: The Mighty Ducks
973     PG                    Honey, I Shrunk the Kids
974     PG                              The Iron Giant
975      G                     The Fox and the Hound 2
976     PG                                 Air Buddies
977     PG             Dr. Dolittle: Tail to the Chief
978     PG                                    Flicka 2
979  TV-PG                         H2O: Just Add Water
980   TV-Y                                The Gruffalo
981     PG                                Dolphin Tale
982   TV-Y                               Pound Puppies
983      G  Beverly Hills Chihuahua 3: Viva La Fiesta!
984   TV-Y                        The Magic School Bus
985  TV-PG                                   Step Dogs
986   TV-Y                     PokÃ©mon: Indigo League
987   TV-Y                                  Mia and Me
988     PG                                  Paddington
989     PG                             Russell Madness
990   TV-Y                           My Animal Friends
991  TV-Y7                          Dawn of the Croods
992   TV-G                  Alpha and Omega: Dino Digs
993      G                   Wiener Dog Internationals
994      G                                    Pup Star
995     PG                                     The BFG
996     PG                     The Secret Life of Pets
997   TV-G                            Precious Puppies
998   TV-G                                 Beary Tales
999      G                             Growing Up Wild

[1000 rows x 2 columns]

한 열만 뽑을 때 DataFrame방식으로 뽑아오고 싶다면  
list안에 넣어서 dictionary 방식으로 갖고오면 된다.  
ex) df[['title']]

다만 **attribute방식**( **ex) df.title** ) 은 2개이상의 값을 동시에 갖고 올 수 없다

In [12]:
df[0] 
#이러한 방식으로 하면 keyerror가 뜬다. -> dictionary방식에 key로 column명을 넣어주어야한다.

KeyError: 0

In [13]:
df.loc[0] #loc의 경우 해당 index의 row값을 들고 온다.
# Series객체이다.

title                                                     White Chicks
rating                                                           PG-13
ratingLevel          crude and sexual humor, language and some drug...
ratingDescription                                                   80
release year                                                      2004
user rating score                                                   82
user rating size                                                    80
Name: 0, dtype: object

In [14]:
df.loc[[0,3]] # pandas의 경우 여러개의 값을 갖고 오고 싶다면 리스트형식으로 넣어준다.
# DataFrame객체이다.

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80

row의 경우 loc 함수를 통해서 얻어 올 수 있다.

In [15]:
df.loc[0:2] # slicing도 지원을 해준다.
# DataFrame객체

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80

column의 경우 dictionary이기 때문에 slicing, indexing을 지원해주지 않는다.

In [16]:
df.loc[1:3, 'title'] # title column에 대해서 1~3 인덱스의 row를 갖고 온다.
# Series객체

# df.loc[1:3, ['title']]
# 위처럼 갖고 오고 싶은 컬럼을 리스트에 넣어서 부를 경우 DataFrame객체로 반환

1    Lucky Number Slevin
2         Grey's Anatomy
3           Prison Break
Name: title, dtype: object

In [17]:
df.loc[1:3, ['title','rating']] # column title, rating에 대해서 1~3 인덱스의 row를 갖고 온다.

                 title rating
1  Lucky Number Slevin      R
2       Grey's Anatomy  TV-14
3         Prison Break  TV-14

In [18]:
df.loc[:] #dictionary방식처럼 갖고온다. 처음부터 끝까지 갖고 온다.

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80
10,Once Upon a Time,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
11,Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
12,Death Note,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2006,77.0,80
13,Naruto,TV-PG,Parental guidance suggested. May not be suitab...,70,2008,88.0,80
14,The Hunter,R,language and brief violence,100,2011,NaN,82
15,Lottie Dottie Chicken,TV-Y,Suitable for all ages.,10,2009,NaN,82
16,Arrow,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2015,96.0,80
17,Black Mirror,TV-MA,For mature audiences. May not be suitable for...,110,2016,80.0,80
18,The Originals,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,74.0,80
19,The 100,NR,This movie has not been rated.,124,2016,97.0,80
20,Masha and the Bear,TV-Y,Suitable for all ages.,10,2013,81.0,80
21,"Ã“ Pai, Ã“ - Look at This",TV-MA,For mature audiences. May not be suitable for...,110,2007,NaN,82
22,Nymphomaniac: Volume 1,NR,This movie has not been rated.,124,2013,NaN,82
23,Hunter X Hunter (2011),NR,This movie has not been rated.,124,2013,57.0,80
24,Marvel's Luke Cage,TV-MA,For mature audiences. May not be suitable for...,110,2016,95.0,80
25,Marvel's Iron Fist,TV-MA,NaN,110,2017,98.0,80
26,Narcos,TV-MA,For mature audiences. May not be suitable for...,110,2016,94.0,80
27,The Flash,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
28,The Seven Deadly Sins,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
29,Scream,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
...,...,...,...,...,...,...,...
970,Annie,PG,adult content and mld violence,60,1982,68.0,80
971,An American Tail: Fievel Goes West,G,General Audiences. Suitable for all ages.,35,1991,NaN,82
972,D2: The Mighty Ducks,PG,some mild language and rough hockey action,60,1994,70.0,80
973,"Honey, I Shrunk the Kids",PG,Parental guidance suggested. May not be suitab...,60,1989,80.0,80
974,The Iron Giant,PG,fantasy action and mild language,60,1999,83.0,80
975,The Fox and the Hound 2,G,General Audiences. Suitable for all ages.,35,2006,NaN,82
976,Air Buddies,PG,"some mild, rude humor",60,2006,NaN,82
977,Dr. Dolittle: Tail to the Chief,PG,brief mild language and some rude behavior,60,2008,NaN,82
978,Flicka 2,PG,some reckless behavior,60,2010,NaN,82
979,H2O: Just Add Water,TV-PG,Parental guidance suggested. May not be suitab...,70,2009,74.0,80
980,The Gruffalo,TV-Y,Suitable for all ages.,10,2009,NaN,82
981,Dolphin Tale,PG,some mild thematic elements,60,2011,NaN,82
982,Pound Puppies,TV-Y,Suitable for all ages.,10,2013,NaN,82
983,Beverly Hills Chihuahua 3: Viva La Fiesta!,G,General Audiences. Suitable for all ages.,35,2012,NaN,82
984,The Magic School Bus,TV-Y,Suitable for all ages.,10,1997,81.0,80
985,Step Dogs,TV-PG,Parental guidance suggested. May not be suitab...,70,2013,NaN,82
986,PokÃ©mon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
987,Mia and Me,TV-Y,Suitable for all ages.,10,2015,NaN,82
988,Paddington,PG,mild action and rude humor,60,2014,70.0,80
989,Russell Madness,PG,some rude humor and sports action,60,2015,NaN,82
990,My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [19]:
type(df.loc[:]) #이렇게 DataFrame객체 이므로, describe, info, head, tail 등을 쓸 수 있다.

pandas.core.frame.DataFrame

loc의 경우 label기반으로 데이터를 찾는다. __ex) df.loc['title']__  
iloc의 경우 index기반으로 해당 데이터를 찾아준다. __ex) df.iloc[1,1]__

In [20]:
df.at[1,'rating'] #at은 1개의 row를 갖고 올 때 (indexing을 통해서)
# String형으로 반환

'R'

In [21]:
%timeit df.loc[1,'rating'] #loc의 경우 속도가 좀 느리다.

9.04 µs ± 845 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [22]:
%timeit df.at[1,'rating'] #at의 경우 속도가 더 빠르다. 
#한가지의 데이터를 갖고 올 때는 at을 쓰는 것이 더 좋다.

5.47 µs ± 522 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [23]:
df.at[1,'rating'] = 'R' #이러한 방식으로 데이터를 직접 바꿔 줄 수 있다.

dictionary, attribute, loc, at방식으로 특정데이터에 접근.

In [24]:
df.axes # 해당 DataFrame객체의 axes를 알려준다.

[RangeIndex(start=0, stop=1000, step=1),
 Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
        'user rating score', 'user rating size'],
       dtype='object')]

axes는 다차원 벡터(배열) 등에서의 축을 의미한다.

In [25]:
df.iat # integer(index)베이스 at 방식

In [26]:
df.iat[1,1] # row, column 차례로 넣으면 해당 데이터 한개를 갖고옴.

'R'

In [27]:
df.at[1, 'title']

'Lucky Number Slevin'

In [28]:
df.at[1,1] 
#이것은 label 베이스이기 때문에 row와 column에 대한 index를 넣으면 이렇게 에러가 발생.

ValueError: At based indexing on an non-integer index can only have non-integer indexers

iat은 우리 눈에 편하게 불러올수 있도록 변환단계가 한개가 더 있다. 시간이 더 걸리긴하지만 iat을 더 많이 씀

In [29]:
%timeit df.iat[1,1]

5.81 µs ± 423 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [30]:
%timeit df.at[1,'title']

5.22 µs ± 213 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [31]:
df.loc[1:3, 'rating'] # loc의 경우는 dictionary 베이스이기 때문에 1:3에서 3까지 포함된다.

1        R
2    TV-14
3    TV-14
Name: rating, dtype: object

In [32]:
df.iloc[1:3, 1] # iloc는 index 베이스이기 때문에 slicing, indexing해줄 때 리스트와 같음

1        R
2    TV-14
Name: rating, dtype: object

---

In [33]:
import pandas as pd
df = pd.read_csv('data-zillow.csv',sep=',') # , 기준으로 데이터를 나눠줌.

In [34]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10830 entries, 0 to 10829
Data columns (total 8 columns):
Date          10830 non-null object
RegionID      10830 non-null int64
RegionName    10830 non-null object
State         10830 non-null object
Metro         10256 non-null object
County        10830 non-null object
SizeRank      10830 non-null int64
Zhvi          10830 non-null int64
dtypes: int64(3), object(5)
memory usage: 677.0+ KB

In [36]:
df.describe()

            RegionID      SizeRank          Zhvi
count   10830.000000  10830.000000  1.083000e+04
mean    84344.818837   5414.500000  2.503076e+05
std    125679.686534   3126.496042  2.565582e+05
min      3301.000000      0.000000  3.740000e+04
25%     19346.250000   2707.250000  1.269000e+05
50%     35444.500000   5414.500000  1.818000e+05
75%     52608.250000   8121.750000  2.823500e+05
max    737791.000000  10829.000000  6.343800e+06

In [37]:
df.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

In [38]:
df.tail()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [39]:
type(df)

pandas.core.frame.DataFrame

In [40]:
df.columns

Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
       'SizeRank', 'Zhvi'],
      dtype='object')

In [41]:
df['RegionName'] # dictionary방식으로 series객체 반환

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [42]:
type(df['RegionName'])

pandas.core.series.Series

In [43]:
df.loc[:,'RegionName']

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [44]:
df.iloc[:,2]

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [45]:
df.count() # 해당 컬럼에 대해서 row의 개수를 알려준다.

Date          10830
RegionID      10830
RegionName    10830
State         10830
Metro         10256
County        10830
SizeRank      10830
Zhvi          10830
dtype: int64

In [46]:
df.mean() # 숫자형 데이터에 대해서 평균을 내준다.

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

In [47]:
df.std() # default로 N-1으로 정규화되며, 표준 편차를 반환해준다.

RegionID    125679.686534
SizeRank      3126.496042
Zhvi        256558.223083
dtype: float64

In [48]:
df.skew()
# N-1으로 표준화된 axis에 대하여 편향되지않은(unbiased) 왜도(skew)를 반환해준다.

RegionID    1.973159
SizeRank    0.000000
Zhvi        6.714811
dtype: float64

In [49]:
df.kurt() # N-1으로 표준화되 axis에 대하여 편향되지않은 첨도(kurtosis)를 반환
# Fisher의 정의를 사용한 첨도

RegionID     2.291461
SizeRank    -1.200000
Zhvi        82.042387
dtype: float64

In [50]:
df.corr() 
# NA / NULL 값을 제외한 Column들의 쌍별로(pairwise) 상관계수(correlation)를 계산

          RegionID  SizeRank      Zhvi
RegionID  1.000000  0.052025 -0.032184
SizeRank  0.052025  1.000000 -0.115621
Zhvi     -0.032184 -0.115621  1.000000

In [51]:
df.cov() 
# NA / NULL 값을 제외한 Column들의 쌍별로(pairwise) 공분산(covariance)를 계산

              RegionID      SizeRank          Zhvi
RegionID  1.579538e+10  2.044245e+07 -1.037760e+09
SizeRank  2.044245e+07  9.774978e+06 -9.274275e+07
Zhvi     -1.037760e+09 -9.274275e+07  6.582212e+10

왜도(skewness)  
첨도(kurtosis)   
상관계수(correlation)  
공분산(covariance)

통계쪽에서는 R, CS쪽에서는 Python을 선호한다.

In [52]:
df.iloc[:, 1:3] # 1:3 -> 1,2 에 대해서 나옴...

       RegionID         RegionName
0          6181           New York
1         12447        Los Angeles
2         17426            Chicago
3         13271       Philadelphia
4         40326            Phoenix
5         18959          Las Vegas
6         54296          San Diego
7         38128             Dallas
8         33839           San Jose
9         25290       Jacksonville
10        20330      San Francisco
11        10221             Austin
12        17762            Detroit
13        10920           Columbus
14        32811            Memphis
15        24043          Charlotte
16        17933            El Paso
17        44269             Boston
18        16037            Seattle
19         3523          Baltimore
20        11093             Denver
21        41568         Washington
22         6118          Nashville
23         5976          Milwaukee
24         7481             Tucson
25        13373           Portland
26        33225      Oklahoma City
27        40152              Omaha
28        23429        Albuquerque
29        18203             Fresno
...         ...                ...
10800     36944       Mount Sidney
10801     44501        Cedar Grove
10802     44615              Clark
10803     44844          Daleville
10804     49693        Piney Point
10805     50692               Almo
10806    171874         Bois D Arc
10807      7512            Tyaskin
10808      8646          Inverness
10809     13137             Otwell
10810     25468        Lake Hughes
10811     25749        Marble Hill
10812     25835               Mead
10813     32017           Hesperus
10814     32847            Midland
10815     46172             Lavaca
10816     46452       Mays Landing
10817     49856      Stinson Beach
10818     54802   Upper Brookville
10819     55357            Decatur
10820      5216         Horse Shoe
10821     12312             Laotto
10822     18317          Goldsboro
10823     19929          Phoenicia
10824     22147              Jones
10825     26077            Nehalem
10826     24105  Clear Lake Shores
10827    737788    Lebanon Borough
10828    182023            Henrico
10829     51793     East Hampstead

[10830 rows x 2 columns]

In [53]:
df.iat[1,4] = 'Los Angeles Long Beach-Anaheim'
# 2번째(index 1) row의 5번째(index 4) Column(Metro)

In [54]:
df.at[1,'Metro']
# label 1을 지니는 row의 'Metro'라벨을 지니는 Column

'Los Angeles Long Beach-Anaheim'

In [55]:
df.iloc[1,4]
# 2번째(index 1) row의 5번째(index 4) Column(Metro)

'Los Angeles Long Beach-Anaheim'

In [56]:
df.loc[1,'Metro']
# label 1을 지니는 row의 'Metro'라벨을 지니는 Column

'Los Angeles Long Beach-Anaheim'

In [57]:
df['Metro'][1]
# df[Column][row] 방식으로 갖고온다.
# 'Metro' Column의 '1' 라벨을 지니는 row

'Los Angeles Long Beach-Anaheim'

In [58]:
df.Metro[1]
# attribute방식으로 df의 Metro Column의 1 라벨을 지니는 것.

'Los Angeles Long Beach-Anaheim'

In [59]:
df.loc[7,'Metro':'County'] # 7번째 row의 Metro부터 County까지

Metro     Dallas-Fort Worth
County               Dallas
Name: 7, dtype: object

In [60]:
df.iloc[0:7, 0:3] # 0~6 인덱스의 row, 0~2 인덱스의 column

         Date  RegionID    RegionName
0  2017-05-31      6181      New York
1  2017-05-31     12447   Los Angeles
2  2017-05-31     17426       Chicago
3  2017-05-31     13271  Philadelphia
4  2017-05-31     40326       Phoenix
5  2017-05-31     18959     Las Vegas
6  2017-05-31     54296     San Diego

In [61]:
df['조보아'] = 3 # 새로운 column을 추가해서 모든 값에 대해 3을 준다.

In [62]:
df #이러한 기법을 broadcasting이라고 한다.

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,조보아
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400,3
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900,3
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700,3
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300,3
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300,3
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500,3
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100,3
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700,3
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400,3
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300,3
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300,3
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600,3
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500,3
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300,3
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100,3
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800,3
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400,3
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600,3
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300,3
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100,3
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200,3
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900,3
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500,3
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900,3
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800,3
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900,3
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700,3
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100,3
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600,3
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700,3
...,...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500,3
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700,3
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600,3
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800,3
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000,3
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400,3
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000,3
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600,3
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300,3
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200,3
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700,3
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900,3
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600,3
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100,3
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900,3
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400,3
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800,3
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600,3
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600,3
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300,3
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700,3
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700,3
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700,3
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600,3
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200,3
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200,3
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900,3
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100,3
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800,3
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400,3

In [63]:
del df['조보아'] # Python기반이기 때문에 del을 통해서 해당 데이터를 삭제 할 수 있다.

In [64]:
df # '조보아' Column이 사라졌음을 볼 수 있다.

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [65]:
df.iloc[1,4] # index 1 row, index 3 column

'Los Angeles Long Beach-Anaheim'

In [66]:
df.iloc[7, [4,6]] # index 7 row, index 4, 6 column

Metro       Dallas-Fort Worth
SizeRank                    7
Name: 7, dtype: object

In [67]:
df.loc[11,:] # label이 11인 것 row 전체 갖고옴

Date          2017-05-31
RegionID           10221
RegionName        Austin
State                 TX
Metro             Austin
County            Travis
SizeRank              11
Zhvi              321600
Name: 11, dtype: object

In [68]:
df.loc[201:204, ['State','County']]

    State         County
201    OH          Stark
202    LA      Jefferson
203    CA  Santa Barbara
204    CA    Los Angeles

In [69]:
df.iloc[201:205, 3:6]

    State                           Metro         County
201    OH                          Canton          Stark
202    LA                     New Orleans      Jefferson
203    CA       Santa Maria-Santa Barbara  Santa Barbara
204    CA  Los Angeles-Long Beach-Anaheim    Los Angeles

In [70]:
df.loc[df.County=='Queens'] #해당 조건에 맞는 데이터를 갖고옴.

         Date  RegionID RegionName State     Metro  County  SizeRank    Zhvi
0  2017-05-31      6181   New York    NY  New York  Queens         0  672400

In [71]:
df.loc[df.Date == '2017-05-31']

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

특정 행 -> dictionary. attribute -->  설정에 따라 dictionary, attribute를 통해서 특정 열만 가져올 수 있다.  
특정 열 -> loc, iloc  
특정 데이터 한개 -> iat, at  
  
iloc의 경우 모두 표현해낼 수 있다...

In [72]:
df.loc[1:3]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300

In [73]:
df.iloc[1:3]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700

In [74]:
df.loc[df['State'] == 'CA'] # State가 CA인 모든 row들을 갖고 와라
#loc이기 때문에 label이 들어와야 한다.
# 함수형 paradigm

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

filter, map, reduce????? -> 함수형 기법??

In [75]:
df.loc[df.Metro == 'New York', "County"]
# Metro == 'New York'인 row들 중에서 "County"열만 출력해준다.

0             Queens
63             Essex
72            Hudson
138      Westchester
176          Passaic
225            Union
291        Middlesex
338            Ocean
387            Ocean
402          Passaic
406         Dutchess
521      Westchester
541            Ocean
564          Passaic
582           Hudson
591            Essex
611      Westchester
631           Hudson
651           Nassau
716           Hudson
727      Westchester
732           Nassau
735         Monmouth
750            Essex
760          Passaic
779            Ocean
781            Union
787        Middlesex
800           Orange
806        Middlesex
            ...
9591       Hunterdon
9614         Suffolk
9714         Suffolk
9732           Ocean
9777           Ocean
9791           Ocean
9805        Monmouth
9817           Ocean
9819        Monmouth
9820           Ocean
9860        Monmouth
9939       Hunterdon
10011          Ocean
10022        Suffolk
10113        Suffolk
10158        Suffolk
10173         Bergen
10203        Suffolk
10258          Ocean
10284         Sussex
10360          Ocean
10375        Suffolk
10383        Passaic
10408        Suffolk
10457        Suffolk
10495          Ocean
10589          Ocean
10700         Orange
10818         Nassau
10827      Hunterdon
Name: County, Length: 648, dtype: object

sorting

In [76]:
df.sort_values(['RegionID','State'], ascending=[False,True]) # 복수의 값을 넣을 때는 리스트 형식으로 넣는다.
# 'RegionID' 를 기준으로 내림차순 정렬. 만약 RegionID중에 같은 것들이 있다면 'State' 기준으로 오름차순 정렬
# axis = 0 -> 행, axis = 1 -> 열
# inplace == mutable

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
...,...,...,...,...,...,...,...,...
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900

In [77]:
df.sort_values('RegionID', inplace=True) 
#inplace를 통해 정렬된 상태로 df를 저장

In [78]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [79]:
df.sort_values('RegionID', axis=0)

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [80]:
df.sort_values('RegionID', inplace=True)

In [81]:
df.reset_index(inplace = True) #과거의 index를 자동으로 column으로 추가 시켜준다.

In [82]:
df

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [88]:
df.reset_index(drop=True) #과거의 index를 없애준다.

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

----

정규식이 굉장히 중요하다!!!!!

좀전에 df.loc에 condition을 줘서 filtering을 해줬는데 아예 filter라는 메소드가 있다.

In [89]:
df.filter(items=['State', 'Metro']) #특정한 데이터만 필터링 해주는 것이다.  
# like는 어떤 특정단어를 포함하는지 안 포함하는지
# regex를 통해서 정규식으로 원하는 string을 분류해낼 수 있다. 

#dictionary에 list를 넣은 방식과 동일하게 출력된다.

#현재 'State', 'Metro' Column의 데이터를 필터링해주었다.

      State                           Metro
0        NC        Pinehurst-Southern Pines
1        NJ                   Atlantic City
2        MD                      Washington
3        OK                             Ada
4        GA                         Atlanta
5        TN                     Clarksville
6        IL                         Chicago
7        WA                         Spokane
8        CA                          Madera
9        SC                         Augusta
10       MI                    Battle Creek
11       AL                        Anniston
12       CA                      Sacramento
13       IL                       Davenport
14       SC                      Greenville
15       TN                       Knoxville
16       IN                          Angola
17       AZ                         Phoenix
18       FL                           Ocala
19       MN             Minneapolis-St Paul
20       PA                    Philadelphia
21       NJ                        New York
22       MA                       Worcester
23       AL                          Dothan
24       MA                          Boston
25       PA                        Scranton
26       AL                      Montgomery
27       CA  Los Angeles-Long Beach-Anaheim
28       CA                         Hanford
29       CA                     Bakersfield
...     ...                             ...
10800    NY                          Albany
10801    NH                       Claremont
10802    PA                      Pittsburgh
10803    WI                         Madison
10804    PA                         Reading
10805    NY                           Utica
10806    NY                          Auburn
10807    PA                        Scranton
10808    PA                      Pittsburgh
10809    NY                       Watertown
10810    WI                      Janesville
10811    PA                    Philadelphia
10812    NY                             NaN
10813    MI                      Big Rapids
10814    MI                    Grand Rapids
10815    MI                        Bay City
10816    MI                    Grand Rapids
10817    PA                      Pittsburgh
10818    PA                        Scranton
10819    PA                    Philadelphia
10820    NY                    Seneca Falls
10821    MI                        Muskegon
10822    PA                         Reading
10823    PA                      Harrisburg
10824    PA                      Gettysburg
10825    CA                      Santa Rosa
10826    AZ                         Phoenix
10827    NJ                        New York
10828    CA                       Riverside
10829    CT                        Hartford

[10830 rows x 2 columns]

In [91]:
filtered_data = df.filter(regex='^Region', axis=1) 
#해당 column명이 Region으로 시작하고, axis=1을 주어서 모든 row를 갖고온다. 
filtered_data.head() # 필터링된 데이터의 head()

   RegionID   RegionName
0      3301     Aberdeen
1      3304      Absecon
2      3305     Accokeek
3      3310          Ada
4      3312  Adairsville

In [102]:
df.loc[df['Zhvi'] > 500000] # 'Zhvi'에서 500000이상 값을 가지는 row

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
30,7720,2017-05-31,3509,Bal Harbour,FL,Miami-Fort Lauderdale,Miami-Dade,7720,1043000
48,211,2017-05-31,3619,Bellevue,WA,Seattle,King,211,819700
71,10205,2017-05-31,3734,Boca Grande,FL,Fort Myers,Lee,10205,1382300
78,1102,2017-05-31,3761,Bothell,WA,Seattle,Snohomish,1102,519100
87,5016,2017-05-31,3811,Brier,WA,Seattle,Snohomish,5016,518000
104,5342,2017-05-31,3893,Burbank,CA,San Jose,Santa Clara,5342,787100
108,4637,2017-05-31,3929,Calistoga,CA,Napa,Napa,4637,657600
111,267,2017-05-31,3934,Cambridge,MA,Boston,Middlesex,267,726000
117,293,2017-05-31,3975,Carlsbad,CA,San Diego,San Diego,293,785100
118,2649,2017-05-31,3980,Carpinteria,CA,Santa Maria-Santa Barbara,Santa Barbara,2649,823400
125,7328,2017-05-31,4028,Centerport,NY,New York,Suffolk,7328,502300
144,7385,2017-05-31,4145,Clyde Hill,WA,Seattle,King,7385,2425000
173,757,2017-05-31,4281,Cupertino,CA,San Jose,Santa Clara,757,1847800
191,243,2017-05-31,4406,Downey,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,243,551300
201,7452,2017-05-31,4485,East Norwich,NY,New York,Nassau,7452,586300
224,3834,2017-05-31,4582,Emeryville,CA,San Francisco,Alameda,3834,518300
238,5037,2017-05-31,4648,Fair Haven,NJ,New York,Monmouth,5037,707400
240,168,2017-05-31,4655,Fairfax,VA,Washington,Fairfax,168,521600
246,240,2017-05-31,4679,Falls Church,VA,Washington,Fairfax,240,514300
281,6723,2017-05-31,4905,Glen Ellen,CA,Santa Rosa,Sonoma,6723,963300
289,1621,2017-05-31,4931,Goleta,CA,Santa Maria-Santa Barbara,Santa Barbara,1621,780700
299,8255,2017-05-31,4983,Greenport,NY,New York,Suffolk,8255,529500
320,9226,2017-05-31,5098,Haworth,NJ,New York,Bergen,9226,671200
321,2041,2017-05-31,5104,Haymarket,VA,Washington,Prince William,2041,515500
325,7423,2017-05-31,5130,Herald,CA,Sacramento,Sacramento,7423,547400
327,5931,2017-05-31,5137,Herricks,NY,New York,Nassau,5931,643100
332,6690,2017-05-31,5160,Highland Beach,FL,Miami-Fort Lauderdale,Palm Beach,6690,522600
333,3674,2017-05-31,5169,Hillsdale,NJ,New York,Bergen,3674,525600
336,9933,2017-05-31,5197,Holualoa,HI,Hilo,Hawaii,9933,665400
...,...,...,...,...,...,...,...,...,...
9979,2767,2017-05-31,397319,Town of Scituate,MA,Boston,Plymouth,2767,551000
10010,8462,2017-05-31,397384,Thornbury Township,PA,Philadelphia,Delaware,8462,539100
10023,6761,2017-05-31,397407,Orangetown,NY,New York,Rockland,6761,564400
10026,6470,2017-05-31,397423,Cranbury Township,NJ,New York,Middlesex,6470,646600
10048,6576,2017-05-31,397481,Town of Essex,MA,Boston,Essex,6576,518700
10063,6104,2017-05-31,397524,Harding Township,NJ,New York,Morris,6104,1140000
10087,1716,2017-05-31,397582,Town of Ridgefield,CT,Stamford,Fairfield,1716,602000
10088,2388,2017-05-31,397583,Town of Sharon,MA,Boston,Norfolk,2388,517700
10093,5834,2017-05-31,397593,Town of Topsfield,MA,Boston,Essex,5834,575100
10139,1542,2017-05-31,397699,Town of Andover,MA,Boston,Essex,1542,583600
10141,10113,2017-05-31,397701,Town of Shelter Island,NY,New York,Suffolk,10113,964600
10169,2392,2017-05-31,397771,Chatham Township,NJ,New York,Morris,2392,877400
10189,10495,2017-05-31,397820,Long Beach Township,NJ,New York,Ocean,10495,817300
10193,6367,2017-05-31,397826,Chatham,MA,Cape Cod,Barnstable,6367,614400
10194,3546,2017-05-31,397829,Mendham Township,NJ,New York,Morris,3546,689500
10235,5075,2017-05-31,397920,Tewksbury Township,NJ,New York,Hunterdon,5075,593600
10268,2661,2017-05-31,398002,Town of Hopkinton,MA,Boston,Middlesex,2661,564800
10275,4757,2017-05-31,398019,Town of Falmouth,MA,Cape Cod,Barnstable,4757,564200
10288,6543,2017-05-31,398045,Orleans,MA,Cape Cod,Barnstable,6543,613900
10343,6252,2017-05-31,398173,Willistown Township,PA,Philadelphia,Chester,6252,595300
10613,7798,2017-05-31,398808,Provincetown,MA,Cape Cod,Barnstable,7798,509100
10636,1674,2017-05-31,398868,Lower Merion Township,PA,Philadelphia,Montgomery,1674,631000
10675,3451,2017-05-31,398947,Town of Duxbury,MA,Boston,Plymouth,3451,608000
10677,9873,2017-05-31,398956,New Shoreham,RI,Providence,Washington,9873,1079400
10696,1920,2017-05-31,398997,Morris Township,NJ,New York,Morris,1920,582200
10703,3739,2017-05-31,399011,Town of Medfield,MA,Boston,Norfolk,3739,647200
10760,2408,2017-05-31,399153,Town of Hingham,MA,Boston,Plymouth,2408,763000
10787,2328,2017-05-31,399213,Town of Mamaroneck,NY,New York,Westchester,2328,633800
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700

In [101]:
df[df.Zhvi > 1000000] # dic 방식 -> Zhvi에서 1000000 이상을 가지는 row들

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
30,7720,2017-05-31,3509,Bal Harbour,FL,Miami-Fort Lauderdale,Miami-Dade,7720,1043000
71,10205,2017-05-31,3734,Boca Grande,FL,Fort Myers,Lee,10205,1382300
144,7385,2017-05-31,4145,Clyde Hill,WA,Seattle,King,7385,2425000
173,757,2017-05-31,4281,Cupertino,CA,San Jose,Santa Clara,757,1847800
376,3225,2017-05-31,5415,Key Biscayne,FL,Miami-Fort Lauderdale,Miami-Dade,3225,1165900
585,3417,2017-05-31,6495,Piedmont,CA,San Francisco,Alameda,3417,2119400
642,8728,2017-05-31,6822,Rolling Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,8728,3526900
647,10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
664,1393,2017-05-31,6916,San Carlos,CA,San Francisco,San Mateo,1393,1619900
805,9714,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
829,1699,2017-05-31,7892,Westport,CT,Stamford,Fairfield,1699,1125900
903,6443,2017-05-31,8306,Bunker Hill Village,TX,Houston,Harris,6443,1243700
944,10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
1053,4616,2017-05-31,9455,Rumson,NJ,New York,Monmouth,4616,1223600
1055,6959,2017-05-31,9501,Saddle River,NJ,New York,Bergen,6959,1739900
1189,1693,2017-05-31,10343,Belmont,CA,San Francisco,San Mateo,1693,1551200
1192,8146,2017-05-31,10348,Belvedere,CA,San Francisco,Marin,8146,3506900
1200,1242,2017-05-31,10389,Beverly Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1242,3041900
1315,4130,2017-05-31,10961,Corte Madera,CA,San Francisco,Marin,4130,1264000
1331,2188,2017-05-31,11043,Darien,CT,Stamford,Fairfield,2188,1405800
1422,3562,2017-05-31,11527,Franklin Lakes,NJ,New York,Bergen,3562,1030100
1492,10360,2017-05-31,11829,Harvey Cedars,NJ,New York,Ocean,10360,1012000
1627,3048,2017-05-31,12520,Malibu,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,3048,2885000
1653,7460,2017-05-31,12669,Medina,WA,Seattle,King,7460,2545200
1694,6661,2017-05-31,12894,Muttontown,NY,New York,Nassau,6661,1613400
1700,2125,2017-05-31,12935,New Canaan,CT,Stamford,Fairfield,2125,1338500
1796,7647,2017-05-31,13436,Rancho Santa Fe,CA,San Diego,San Diego,7647,2593300
1838,308,2017-05-31,13699,San Mateo,CA,San Francisco,San Mateo,308,1198300
1841,423,2017-05-31,13712,Santa Barbara,CA,Santa Maria-Santa Barbara,Santa Barbara,423,1050900
1842,234,2017-05-31,13713,Santa Clara,CA,San Jose,Santa Clara,234,1071500
...,...,...,...,...,...,...,...,...,...
8495,10319,2017-05-31,54570,Stone Harbor,NJ,Ocean City,Cape May,10319,1286400
8508,181,2017-05-31,54626,Sunnyvale,CA,San Jose,Santa Clara,181,1509300
8542,10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
8551,5433,2017-05-31,54970,Villa Park,CA,Los Angeles-Long Beach-Anaheim,Orange,5433,1325400
8676,3509,2017-05-31,55743,Hillsborough,CA,San Francisco,San Mateo,3509,4203800
8679,2446,2017-05-31,55753,El Segundo,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2446,1167900
8770,1833,2017-05-31,56365,Mercer Island,WA,Seattle,King,1833,1401000
8771,10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
8823,4617,2017-05-31,56780,Topanga,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,4617,1217100
8877,9450,2017-05-31,57134,Woodway,WA,Seattle,Snohomish,9450,1256800
8922,6279,2017-05-31,114651,Del Monte Forest,CA,Salinas,Monterey,6279,1646200
8925,6617,2017-05-31,114956,Emerald Lake Hills,CA,San Francisco,San Mateo,6617,1948800
8933,5194,2017-05-31,116042,Ladera Heights,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,5194,1219300
8936,9432,2017-05-31,116639,Mission Canyon,CA,Santa Maria-Santa Barbara,Santa Barbara,9432,1339500
9000,10180,2017-05-31,124901,Jupiter Island,FL,Port St. Lucie,Martin,10180,4248200
9103,7256,2017-05-31,156987,Brookmont,MD,Washington,Montgomery,7256,1068900
9105,9464,2017-05-31,157546,Chevy Chase Terrace,MD,Washington,Montgomery,9464,1149900
9106,8359,2017-05-31,157548,Chevy Chase Village,MD,Washington,Montgomery,8359,1783600
9119,5066,2017-05-31,163337,Travilah,MD,Washington,Montgomery,5066,1247300
9199,7728,2017-05-31,194752,Flower Hill,NY,New York,Nassau,7728,1220300
9247,5338,2017-05-31,203879,The Village of Indian Hill,OH,Cincinnati,Hamilton,5338,1062200
9347,6645,2017-05-31,225133,Belle Meade,TN,Nashville,Davidson,6645,1595600
9634,4262,2017-05-31,396091,Chevy Chase,MD,Washington,Montgomery,4262,1107200
9683,8090,2017-05-31,396541,Highlands-Baywood Park,CA,San Francisco,San Mateo,8090,1757000
9687,6754,2017-05-31,396554,Cambrian Park,CA,San Jose,Santa Clara,6754,1212500
9691,4058,2017-05-31,396599,Highland Park,TX,Dallas-Fort Worth,Dallas,4058,1625600
9942,3726,2017-05-31,397237,Town of Nantucket,MA,NaN,Nantucket,3726,1404900
9967,5230,2017-05-31,397299,Town of Dover,MA,Boston,Norfolk,5230,1079500
10063,6104,2017-05-31,397524,Harding Township,NJ,New York,Morris,6104,1140000
10677,9873,2017-05-31,398956,New Shoreham,RI,Providence,Washington,9873,1079400

In [104]:
filtered_data = df.filter(like = 'Metro', axis=1) #like는 포함하는 것....
filtered_data.head()

#filter 또한 column을 뽑아 낼 때 이용할 수 있다. (그외에 dictionary, attribute, loc, iloc)

                      Metro
0  Pinehurst-Southern Pines
1             Atlantic City
2                Washington
3                       Ada
4                   Atlanta

In [105]:
df[(df['Zhvi'] > 1000000) & (df['State'] == 'NY')]
# 조건을 추가시 
#  AND -> & 
#  OR -> |

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
805,9714,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
1694,6661,2017-05-31,12894,Muttontown,NY,New York,Nassau,6661,1613400
1886,3904,2017-05-31,13937,Southampton,NY,New York,Suffolk,3904,1398200
2215,8093,2017-05-31,16387,Sands Point,NY,New York,Nassau,8093,2289600
2466,6736,2017-05-31,17874,East Hills,NY,New York,Nassau,6736,1299300
2557,1132,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
2572,3474,2017-05-31,18478,Harrison,NY,New York,Westchester,3474,1031200
2646,3064,2017-05-31,18955,Larchmont,NY,New York,Westchester,3064,1052200
2649,9028,2017-05-31,18963,Lattingtown,NY,New York,Nassau,9028,1184500
2794,9055,2017-05-31,19808,Oyster Bay Cove,NY,New York,Nassau,9055,1649400
3157,9370,2017-05-31,22015,Laurel Hollow,NY,New York,Nassau,9370,1585300
3748,3032,2017-05-31,25725,Manhasset,NY,New York,Nassau,3032,1483400
3933,9179,2017-05-31,26537,Plandome,NY,New York,Nassau,9179,2024500
4491,10203,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
5181,10375,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
5391,8317,2017-05-31,35276,Cold Spring Harbor,NY,New York,Suffolk,8317,1164600
5626,10457,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
5976,9523,2017-05-31,38975,Hewlett Harbor,NY,New York,Nassau,9523,1304800
6180,5682,2017-05-31,40053,North Hills,NY,New York,Nassau,5682,1431800
7357,2619,2017-05-31,47495,Rye,NY,New York,Westchester,2619,1736400
7359,8611,2017-05-31,47499,Sag Harbor,NY,New York,Suffolk,8611,1576200
8175,4700,2017-05-31,52907,Lawrence,NY,New York,Nassau,4700,1124600
8332,6386,2017-05-31,53705,Old Westbury,NY,New York,Nassau,6386,2230800
8450,2405,2017-05-31,54333,Scarsdale,NY,New York,Westchester,2405,1468100
8542,10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
8771,10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
9199,7728,2017-05-31,194752,Flower Hill,NY,New York,Nassau,7728,1220300

pandas가 excel보다 빠르고 조건도 많이 넣을 수 있어서 전처리하기 좋다

In [108]:
_filter = df['Metro'].isin(['New York','San Francisco'])
# isin은 in과 동일함  -> Metro Column내에 New York, San Francisco가 있는지 확인

df[df['State'].isin(['DC','PA'])] # 행 필터링의 경우 data[]내에 조건을 넣어준다.
# 'State' Column에서 'DC', 'PA'를 지니고 있는 조건을 지닌 row들을 출력해줌.

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
47,4220,2017-05-31,3618,Bellevue,PA,Pittsburgh,Allegheny,4220,128400
57,3636,2017-05-31,3649,Berwick,PA,Bloomsburg,Columbia,3636,106000
68,2804,2017-05-31,3706,Bloomsburg,PA,Bloomsburg,Columbia,2804,118100
69,5302,2017-05-31,3711,Blue Bell,PA,Philadelphia,Montgomery,5302,419100
90,8237,2017-05-31,3831,Brockway,PA,NaN,Jefferson,8237,86200
136,9462,2017-05-31,4106,Clarks Green,PA,Scranton,Lackawanna,9462,190200
137,5708,2017-05-31,4107,Clarks Summit,PA,Scranton,Lackawanna,5708,161600
205,1653,2017-05-31,4502,Easton,PA,Allentown,Northampton,1653,114400
230,6801,2017-05-31,4615,Etna,PA,Pittsburgh,Allegheny,6801,86400
252,4012,2017-05-31,4727,Fleetwood,PA,Reading,Berks,4012,191300
256,7178,2017-05-31,4745,Ford City,PA,Pittsburgh,Armstrong,7178,53600
322,9477,2017-05-31,5115,Heidelberg,PA,Pittsburgh,Allegheny,9477,123000
344,3771,2017-05-31,5236,Hummelstown,PA,Harrisburg,Dauphin,3771,202200
351,9305,2017-05-31,5279,Industry,PA,Pittsburgh,Beaver,9305,127800
352,6846,2017-05-31,5287,Ingram,PA,Pittsburgh,Allegheny,6846,121400
357,3816,2017-05-31,5332,Jeannette,PA,Pittsburgh,Westmoreland,3816,72000
369,5034,2017-05-31,5396,Kennett Square,PA,Philadelphia,Chester,5034,227500
434,1836,2017-05-31,5714,Lower Paxton,PA,Harrisburg,Dauphin,1836,232600
467,2141,2017-05-31,5875,McKeesport,PA,Pittsburgh,Allegheny,2141,54100
495,4425,2017-05-31,6010,Monessen,PA,Pittsburgh,Westmoreland,4425,60000
509,4507,2017-05-31,6073,Mount Joy,PA,Lancaster,Lancaster,4507,168200
510,7007,2017-05-31,6079,Mount Pocono,PA,East Stroudsburg,Monroe,7007,121400
519,4042,2017-05-31,6127,Nazareth,PA,Allentown,Northampton,4042,214900
520,2924,2017-05-31,6134,Nether Providence,PA,Philadelphia,Delaware,2924,322000
526,6436,2017-05-31,6149,New Freedom,PA,York,York,6436,235900
546,7036,2017-05-31,6242,North Wales,PA,Philadelphia,Montgomery,7036,314300
566,5537,2017-05-31,6319,Olyphant,PA,Scranton,Lackawanna,5537,116300
588,3413,2017-05-31,6521,Pittston Township,PA,Scranton,Luzerne,3413,84300
...,...,...,...,...,...,...,...,...,...
10754,2691,2017-05-31,399136,West Hempfield Township,PA,Lancaster,Lancaster,2691,197000
10757,6816,2017-05-31,399147,London Britain Township,PA,Philadelphia,Chester,6816,354400
10758,2686,2017-05-31,399150,Whitemarsh Township,PA,Philadelphia,Montgomery,2686,381400
10761,3586,2017-05-31,399156,Warwick Township,PA,Lancaster,Lancaster,3586,217700
10765,5832,2017-05-31,399162,Findlay Township,PA,Pittsburgh,Allegheny,5832,172200
10767,3938,2017-05-31,399167,Slippery Rock Township,PA,Pittsburgh,Butler,3938,166400
10768,7528,2017-05-31,399168,Clearfield Township,PA,Pittsburgh,Butler,7528,179900
10772,5429,2017-05-31,399182,Upper Mt Bethel Township,PA,Allentown,Northampton,5429,207200
10773,7205,2017-05-31,399183,South Annville Township,PA,Lebanon,Lebanon,7205,206500
10778,2970,2017-05-31,399194,Guilford Township,PA,Chambersburg,Franklin,2970,193100
10780,8193,2017-05-31,399197,Haycock Township,PA,Philadelphia,Bucks,8193,302400
10781,7845,2017-05-31,399198,Brothersvalley Township,PA,Somerset,Somerset,7845,113500
10782,5630,2017-05-31,399199,East Allen Township,PA,Allentown,Northampton,5630,227000
10784,7494,2017-05-31,399202,Lackawannock Township,PA,Youngstown,Mercer,7494,144900
10792,7723,2017-05-31,399222,Plumcreek Township,PA,Pittsburgh,Armstrong,7723,140000
10793,6346,2017-05-31,399226,East Drumore Township,PA,Lancaster,Lancaster,6346,225600
10795,9112,2017-05-31,399236,Wilmington Township,PA,Youngstown,Mercer,9112,170000
10798,2696,2017-05-31,399248,Antrim Township,PA,Chambersburg,Franklin,2696,187600
10799,9444,2017-05-31,399252,Parks Township,PA,Pittsburgh,Armstrong,9444,133500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600

In [109]:
df.loc[df['State'].isin(['DC','PA'])] #loc를 넣어주어도 똑같은 값이 출력된다.

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
47,4220,2017-05-31,3618,Bellevue,PA,Pittsburgh,Allegheny,4220,128400
57,3636,2017-05-31,3649,Berwick,PA,Bloomsburg,Columbia,3636,106000
68,2804,2017-05-31,3706,Bloomsburg,PA,Bloomsburg,Columbia,2804,118100
69,5302,2017-05-31,3711,Blue Bell,PA,Philadelphia,Montgomery,5302,419100
90,8237,2017-05-31,3831,Brockway,PA,NaN,Jefferson,8237,86200
136,9462,2017-05-31,4106,Clarks Green,PA,Scranton,Lackawanna,9462,190200
137,5708,2017-05-31,4107,Clarks Summit,PA,Scranton,Lackawanna,5708,161600
205,1653,2017-05-31,4502,Easton,PA,Allentown,Northampton,1653,114400
230,6801,2017-05-31,4615,Etna,PA,Pittsburgh,Allegheny,6801,86400
252,4012,2017-05-31,4727,Fleetwood,PA,Reading,Berks,4012,191300
256,7178,2017-05-31,4745,Ford City,PA,Pittsburgh,Armstrong,7178,53600
322,9477,2017-05-31,5115,Heidelberg,PA,Pittsburgh,Allegheny,9477,123000
344,3771,2017-05-31,5236,Hummelstown,PA,Harrisburg,Dauphin,3771,202200
351,9305,2017-05-31,5279,Industry,PA,Pittsburgh,Beaver,9305,127800
352,6846,2017-05-31,5287,Ingram,PA,Pittsburgh,Allegheny,6846,121400
357,3816,2017-05-31,5332,Jeannette,PA,Pittsburgh,Westmoreland,3816,72000
369,5034,2017-05-31,5396,Kennett Square,PA,Philadelphia,Chester,5034,227500
434,1836,2017-05-31,5714,Lower Paxton,PA,Harrisburg,Dauphin,1836,232600
467,2141,2017-05-31,5875,McKeesport,PA,Pittsburgh,Allegheny,2141,54100
495,4425,2017-05-31,6010,Monessen,PA,Pittsburgh,Westmoreland,4425,60000
509,4507,2017-05-31,6073,Mount Joy,PA,Lancaster,Lancaster,4507,168200
510,7007,2017-05-31,6079,Mount Pocono,PA,East Stroudsburg,Monroe,7007,121400
519,4042,2017-05-31,6127,Nazareth,PA,Allentown,Northampton,4042,214900
520,2924,2017-05-31,6134,Nether Providence,PA,Philadelphia,Delaware,2924,322000
526,6436,2017-05-31,6149,New Freedom,PA,York,York,6436,235900
546,7036,2017-05-31,6242,North Wales,PA,Philadelphia,Montgomery,7036,314300
566,5537,2017-05-31,6319,Olyphant,PA,Scranton,Lackawanna,5537,116300
588,3413,2017-05-31,6521,Pittston Township,PA,Scranton,Luzerne,3413,84300
...,...,...,...,...,...,...,...,...,...
10754,2691,2017-05-31,399136,West Hempfield Township,PA,Lancaster,Lancaster,2691,197000
10757,6816,2017-05-31,399147,London Britain Township,PA,Philadelphia,Chester,6816,354400
10758,2686,2017-05-31,399150,Whitemarsh Township,PA,Philadelphia,Montgomery,2686,381400
10761,3586,2017-05-31,399156,Warwick Township,PA,Lancaster,Lancaster,3586,217700
10765,5832,2017-05-31,399162,Findlay Township,PA,Pittsburgh,Allegheny,5832,172200
10767,3938,2017-05-31,399167,Slippery Rock Township,PA,Pittsburgh,Butler,3938,166400
10768,7528,2017-05-31,399168,Clearfield Township,PA,Pittsburgh,Butler,7528,179900
10772,5429,2017-05-31,399182,Upper Mt Bethel Township,PA,Allentown,Northampton,5429,207200
10773,7205,2017-05-31,399183,South Annville Township,PA,Lebanon,Lebanon,7205,206500
10778,2970,2017-05-31,399194,Guilford Township,PA,Chambersburg,Franklin,2970,193100
10780,8193,2017-05-31,399197,Haycock Township,PA,Philadelphia,Bucks,8193,302400
10781,7845,2017-05-31,399198,Brothersvalley Township,PA,Somerset,Somerset,7845,113500
10782,5630,2017-05-31,399199,East Allen Township,PA,Allentown,Northampton,5630,227000
10784,7494,2017-05-31,399202,Lackawannock Township,PA,Youngstown,Mercer,7494,144900
10792,7723,2017-05-31,399222,Plumcreek Township,PA,Pittsburgh,Armstrong,7723,140000
10793,6346,2017-05-31,399226,East Drumore Township,PA,Lancaster,Lancaster,6346,225600
10795,9112,2017-05-31,399236,Wilmington Township,PA,Youngstown,Mercer,9112,170000
10798,2696,2017-05-31,399248,Antrim Township,PA,Chambersburg,Franklin,2696,187600
10799,9444,2017-05-31,399252,Parks Township,PA,Pittsburgh,Armstrong,9444,133500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600

sql에서의 in과 같은 기능을 제공하지만 in이라는 keyword가 이미 존재하므로 isin으로 이름을 지음

In [110]:
import pandas as pd
df = pd.read_csv('apt_final.csv')
df

,price_per_area,price,con_year,year,dong,aptnm,month,dat,area,area_sub,...,seoul_cons_ratio,bond_one_year,bond_three_year,bond_five_year,bond_ten_year,corp_bond_yield_rate,call_rate,interest,interest_on_loan,cd
0,1979,71000.0,1982,2009,개포동,개포주공 3단지,10,1~10,35.87,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
1,1994,83700.0,1982,2009,개포동,개포주공 1단지,10,1~10,41.98,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
2,1128,173500.0,2004,2009,개포동,개포자이(12-2),10,1~10,153.80,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
3,1204,65000.0,1983,2009,개포동,개포주공 5단지,10,1~10,53.98,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
4,1214,160000.0,1986,2009,개포동,현대2,10,1~10,131.83,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
5,1480,75000.0,1982,2009,개포동,개포주공 4단지,10,1~10,50.67,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
6,1030,82000.0,1987,2009,개포동,우성8,10,11~20,79.61,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
7,1275,78000.0,1983,2009,개포동,개포주공 5단지,10,11~20,61.19,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
8,1975,100000.0,1982,2009,개포동,개포주공 1단지,10,11~20,50.64,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
9,1133,44800.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,39.53,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
10,1115,37000.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,33.18,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
11,1063,53000.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,49.86,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
12,2223,112000.0,1982,2009,개포동,개포주공 4단지,10,11~20,50.39,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
13,1284,78000.0,1983,2009,개포동,개포주공 7단지,10,11~20,60.76,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
14,1905,80000.0,1982,2009,개포동,개포주공 4단지,10,11~20,41.99,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
15,2240,113500.0,1982,2009,개포동,개포주공 4단지,10,11~20,50.67,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
16,1200,66000.0,1987,2009,개포동,개포6차우성아파트1동~8동,10,11~20,54.98,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
17,938,98000.0,1984,2009,개포동,개포우성3차,10,11~20,104.43,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
18,1320,110500.0,1983,2009,개포동,개포주공 7단지,10,21~31,83.70,medium,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
19,1394,116000.0,1983,2009,개포동,개포주공 6단지,10,21~31,83.21,medium,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
20,1880,80000.0,1982,2009,개포동,개포주공 1단지,10,21~31,42.55,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
21,1906,80000.0,1982,2009,개포동,개포주공 1단지,10,21~31,41.98,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
22,1937,98100.0,1982,2009,개포동,개포주공 1단지,10,21~31,50.64,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
23,1945,98500.0,1982,2009,개포동,개포주공 1단지,10,21~31,50.64,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
24,1936,69000.0,1982,2009,개포동,개포주공 1단지,10,21~31,35.64,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
25,1036,52950.0,1992,2009,개포동,삼익대청아파트,10,21~31,51.12,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
26,1016,136500.0,2004,2009,개포동,개포자이(12-2),10,21~31,134.30,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
27,1922,68500.0,1982,2009,개포동,개포주공 1단지,10,21~31,35.64,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
28,1868,79500.0,1982,2009,개포동,개포주공 4단지,10,21~31,42.55,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
29,2058,52000.0,1982,2009,개포동,주공2,10,21~31,25.27,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429436,385,31000.0,1995,2017,중화동,삼익,2,1~10,80.58,medium,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429437,541,45800.0,2013,2017,중화동,동양엔파트2차,2,1~10,84.63,medium,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429438,381,22800.0,1998,2017,중화동,건영,2,1~10,59.85,small,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429439,569,34000.0,1998,2017,중화동,한신1차,2,11~20,59.76,small,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429440,470,39500.0,2010,2017,중화동,동양엔파트,2,11~20,84.10,medium,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429441,576,29000.0,1998,2017,중화동,한신1차,2,11~20,50.37,small,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429442,576,29000.0,1998,2017,중화동,한신1차,2,21~28,50.37,small,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429443,451,38000.0,1997,2017,중화동,한신1차,2,21~28,84.20,medium,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429444,425,25200.0,1995,2017,중화동,삼익,2,21~28,59.34,small,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429445,372,31300.0,1991,2017,중화동,극동,2,21~28,84.13,medium,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429446,574,34300.0,1998,2017,중화동,한신1차,2,21~28,59.76,small,...,5.270756,1.47,1.67,1.86,2.16,2.13,1.23,1.49,3.45,1.49
429447,586,35000.0,1998,2017,중화동,한신1차,12,1~10,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429448,506,42500.0,1997,2017,중화동,한신1차,12,1~10,84.03,medium,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429449,566,33800.0,1998,2017,중화동,한신1차,12,11~20,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429450,669,12000.0,2012,2017,중화동,범양프레체,12,11~20,17.94,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429451,617,36900.0,1998,2017,중화동,한신1차,12,11~20,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429452,586,35000.0,1998,2017,중화동,한신1차,12,11~20,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429453,454,26950.0,1995,2017,중화동,삼익,12,11~20,59.34,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429454,628,37500.0,1998,2017,중화동,한신1차,12,11~20,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429455,582,34800.0,1998,2017,중화동,한신1차,12,11~20,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429456,594,35500.0,1997,2017,중화동,한신1차,12,11~20,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429457,371,31500.0,1991,2017,중화동,극동,12,21~31,84.82,medium,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429458,527,44300.0,1997,2017,중화동,한신1차,12,21~31,84.03,medium,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429459,686,12300.0,2012,2017,중화동,범양프레체,12,21~31,17.94,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429460,472,40000.0,2004,2017,중화동,청원다미소,12,21~31,84.82,medium,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429461,601,35900.0,1998,2017,중화동,한신1차,12,21~31,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429462,582,34800.0,1998,2017,중화동,한신2,12,21~31,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429463,459,39000.0,2006,2017,중화동,미영리치타운103,12,21~31,84.90,medium,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429464,393,23500.0,1998,2017,중화동,건영,12,21~31,59.85,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66
429465,589,35200.0,1998,2017,중화동,한신2,12,21~31,59.76,small,...,6.285154,1.83,2.10,2.30,2.47,2.65,1.51,1.81,3.62,1.66

In [111]:
dong_list =["역삼동", "개포동", "청담동", "삼성동", "대치동", "신사동", "논현동", "압구정동", "세곡동", "자곡동", "율현동", "일원동", "수서동", "도곡동", "논현1동", "논현2동", "삼성1동", "삼성2동", "대치1동", "대치2동", "대치4동", "역삼1동", "역삼2동", "도곡1동", "도곡2동", "개포1동", "개포2동", "개포4동", "일원본동", "일원1동", "일원2동"]

In [112]:
df.loc[df['dong'].isin(dong_list)]
# 강남구에 포함된 동들만 list로 갖고 와서 강남구에 대한 정보만 뽑아왔다.

,price_per_area,price,con_year,year,dong,aptnm,month,dat,area,area_sub,...,seoul_cons_ratio,bond_one_year,bond_three_year,bond_five_year,bond_ten_year,corp_bond_yield_rate,call_rate,interest,interest_on_loan,cd
0,1979,71000.0,1982,2009,개포동,개포주공 3단지,10,1~10,35.8700,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
1,1994,83700.0,1982,2009,개포동,개포주공 1단지,10,1~10,41.9800,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
2,1128,173500.0,2004,2009,개포동,개포자이(12-2),10,1~10,153.8000,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
3,1204,65000.0,1983,2009,개포동,개포주공 5단지,10,1~10,53.9800,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
4,1214,160000.0,1986,2009,개포동,현대2,10,1~10,131.8300,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
5,1480,75000.0,1982,2009,개포동,개포주공 4단지,10,1~10,50.6700,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
6,1030,82000.0,1987,2009,개포동,우성8,10,11~20,79.6100,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
7,1275,78000.0,1983,2009,개포동,개포주공 5단지,10,11~20,61.1900,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
8,1975,100000.0,1982,2009,개포동,개포주공 1단지,10,11~20,50.6400,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
9,1133,44800.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,39.5300,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
10,1115,37000.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,33.1800,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
11,1063,53000.0,1992,2009,개포동,성원대치2단지아파트,10,11~20,49.8600,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
12,2223,112000.0,1982,2009,개포동,개포주공 4단지,10,11~20,50.3900,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
13,1284,78000.0,1983,2009,개포동,개포주공 7단지,10,11~20,60.7600,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
14,1905,80000.0,1982,2009,개포동,개포주공 4단지,10,11~20,41.9900,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
15,2240,113500.0,1982,2009,개포동,개포주공 4단지,10,11~20,50.6700,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
16,1200,66000.0,1987,2009,개포동,개포6차우성아파트1동~8동,10,11~20,54.9800,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
17,938,98000.0,1984,2009,개포동,개포우성3차,10,11~20,104.4300,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
18,1320,110500.0,1983,2009,개포동,개포주공 7단지,10,21~31,83.7000,medium,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
19,1394,116000.0,1983,2009,개포동,개포주공 6단지,10,21~31,83.2100,medium,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
20,1880,80000.0,1982,2009,개포동,개포주공 1단지,10,21~31,42.5500,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
21,1906,80000.0,1982,2009,개포동,개포주공 1단지,10,21~31,41.9800,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
22,1937,98100.0,1982,2009,개포동,개포주공 1단지,10,21~31,50.6400,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
23,1945,98500.0,1982,2009,개포동,개포주공 1단지,10,21~31,50.6400,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
24,1936,69000.0,1982,2009,개포동,개포주공 1단지,10,21~31,35.6400,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
25,1036,52950.0,1992,2009,개포동,삼익대청아파트,10,21~31,51.1200,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
26,1016,136500.0,2004,2009,개포동,개포자이(12-2),10,21~31,134.3000,large,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
27,1922,68500.0,1982,2009,개포동,개포주공 1단지,10,21~31,35.6400,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
28,1868,79500.0,1982,2009,개포동,개포주공 4단지,10,21~31,42.5500,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
29,2058,52000.0,1982,2009,개포동,주공2,10,21~31,25.2700,small,...,10.061728,3.52,4.47,4.91,5.45,5.60,1.99,3.51,5.88,2.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427417,499,42200.0,2003,2017,신사동,신사동한신휴플러스,7,1~10,84.6500,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427418,483,28800.0,1996,2017,신사동,신성수정,7,1~10,59.6300,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427419,444,34400.0,2006,2017,신사동,정은노블스B,7,1~10,77.4300,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427420,411,25200.0,1988,2017,신사동,신성,7,11~20,61.3200,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427421,485,28200.0,1993,2017,신사동,신사씨티,7,11~20,58.0900,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427422,458,26600.0,1993,2017,신사동,신사씨티,7,11~20,58.0900,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427423,404,34000.0,1997,2017,신사동,현대1,7,11~20,84.1700,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427424,463,39000.0,1997,2017,신사동,현대1,7,11~20,84.1700,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427425,409,34700.0,1994,2017,신사동,현대2,7,11~20,84.8300,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427426,410,34800.0,1996,2017,신사동,신성수정,7,11~20,84.8000,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427427,494,31400.0,1987,2017,신사동,라이프미성,7,11~20,63.5300,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427428,485,31700.0,2007,2017,신사동,신선,7,11~20,65.3900,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427429,525,44600.0,2006,2017,신사동,은평신사두산위브,7,11~20,84.9970,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427430,495,42000.0,2004,2017,신사동,이랜드 타운아파트,7,11~20,84.9287,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427431,503,42600.0,2003,2017,신사동,신사동한신휴플러스,7,11~20,84.6500,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427432,416,35300.0,1994,2017,신사동,현대2,7,11~20,84.8300,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427433,361,30000.0,1992,2017,신사동,라이프씨티,7,21~31,83.0400,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427434,432,28600.0,2008,2017,신사동,신아,7,21~31,66.2700,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427435,401,33750.0,1997,2017,신사동,현대1,7,21~31,84.1700,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427436,450,27600.0,1988,2017,신사동,신성,7,21~31,61.3200,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427437,429,35900.0,2004,2017,신사동,새한,7,21~31,83.5900,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427438,378,31300.0,1993,2017,신사동,신사씨티,7,21~31,82.7100,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427439,397,32800.0,1993,2017,신사동,신사씨티,7,21~31,82.7100,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427440,406,22800.0,1988,2017,신사동,신성,7,21~31,56.1800,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427441,500,42500.0,2011,2017,신사동,두산위브2차,7,21~31,84.9900,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427442,524,44500.0,2006,2017,신사동,은평신사두산위브,7,21~31,84.9970,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427443,385,32000.0,1992,2017,신사동,라이프씨티,7,21~31,83.0400,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427444,487,27000.0,2001,2017,신사동,삼부,7,21~31,55.4400,small,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427445,424,36000.0,2000,2017,신사동,신사성원,7,21~31,84.9600,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39
427446,526,44700.0,2006,2017,신사동,은평신사두산위브,7,21~31,84.9580,medium,...,5.768479,1.46,1.74,1.94,2.25,2.28,1.24,1.48,3.45,1.39

In [113]:
df['gu'] = "" # 'gu'라는 column 생성

In [114]:
df['dong'].isin(dong_list) # dong에 해당 리스트내의 동이 있는지 확인

0          True
1          True
2          True
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
429436    False
429437    False
429438    False
429439    False
429440    False
429441    False
429442    False
429443    False
429444    False
429445    False
429446    False
429447    False
429448    False
429449    False
429450    False
429451    False
429452    False
429453    False
429454    False
429455    False
429456    False
429457    False
429458    False
429459    False
429460    False
429461    False
429462    False
429463    False
429464    False
429465    False
Name: dong, Length: 429466, dtype: bool

In [116]:
df[df['dong'].isin(dong_list)].price_per_area.mean() #강남구 평당 평균값
# 먼저 강남구에 있는 동을 가지는 row를 뽑아오고
# price_per_area attribute에 접급해서 mean()으로 평균치 해주었다.

1159.915258074253

데이터 통계 분석할 때 위의 과정으로 쓴다.

In [117]:
[1,2,3] in [1,2,3,4] #iterable한 것이 in 뒤에 올 수 있다.

False

In [118]:
[1,2,3] in [[1,2,3], 4]

True

In [120]:
df.dong in dong_list # 에러가 뜬다.

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

isin의 경우 함수형 paradigm으로 만들었다.

In [121]:
list(map(lambda x: x in dong_list, df.dong)) #isin은 이런 방식으로 만들어짐.

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 ...]

여러개의 데이터 중에서 특정 filtering에 따른 데이터가 있는지 확인...

In [124]:
# df[df.isin({'State': ['CA'], 'Metro':['San Francisco']})] #NaN은 값이 없는 것.
df[df.isin({'dong': ['개포동'], 'year':['2009']})]
# column 뽑는것  -> dictionary, attribute, loc, iloc, filter
# row 뽑는것 -> loc, iloc, df['condition'] -> 이렇게 조건에 대해서 True인 것만 보여줌.
# 조건이 있을 때는 행 따라 item을 출력해줌.

,price_per_area,price,con_year,year,dong,aptnm,month,dat,area,area_sub,...,seoul_cons_ratio,bond_one_year,bond_three_year,bond_five_year,bond_ten_year,corp_bond_yield_rate,call_rate,interest,interest_on_loan,cd
0,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,2009.0,개포동,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
type(df['gu'].isin(['강남구','노원구']))

pandas.core.series.Series

In [126]:
type(df[df['gu'].isin(['강남구','노원구'])])

pandas.core.frame.DataFrame

In [127]:
df.isin({'gu':['노원구'], 'dong':['월계동']}) 
# 원하는 조건이 2개 이상일 때는 dictionary 형식으로 주고, 리턴되는 객체 형식은 DataFrame으로 리턴 됨

,price_per_area,price,con_year,year,dong,aptnm,month,dat,area,area_sub,...,seoul_cons_ratio,bond_one_year,bond_three_year,bond_five_year,bond_ten_year,corp_bond_yield_rate,call_rate,interest,interest_on_loan,cd
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429436,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429437,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429438,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429439,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429440,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429441,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429442,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429443,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429444,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429445,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429446,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429447,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429448,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429451,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429452,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429453,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429454,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429455,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429456,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429457,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429459,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429460,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429461,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429462,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429463,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429464,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
429465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [128]:
type(df.isin({'gu':['노원구'], 'dong':['월계동']})) 
# dictionary는 Column을 뽑아냄.

# Column 1개이거나 attribute 방식으로 하면 series  ex) data['gu']
# 2개 이상이면 DataFrame ex) data[['gu]]

pandas.core.frame.DataFrame

In [145]:
df.loc[1:3] # DataFrame
df.loc[1:3, "gu"] # series
df.loc[1:3, ["gu"]] # DataFrame
# df[df.loc[1:3, "gu"]] # error뜸

KeyError: "['' '' ''] not in index"

좀전에 condition을 줄 때  
&,|를 써서 할 때는 하나의 column에 대해서만 조건을 줄 때 쓰는 것이고,  
isin 은 여러개의 column에 대해서 조건을 줄때 dictionary 안에 조건을 넣어주어 필터링을 한다.

1980 ~ 1995 년까지의 강남구 집값 변화

In [146]:
df.axes # row와 column 정보를 모두 보여준다.

[RangeIndex(start=0, stop=429466, step=1),
 Index(['price_per_area', 'price', 'con_year', 'year', 'dong', 'aptnm', 'month',
        'dat', 'area', 'area_sub', 'loc', 'floor', 'qrt', 'yyyyqrt', 'yyyym',
        'gu', 'num_children', 'num_elementary', 'num_middle', 'num_high',
        'edu_subsidy', 'basic_living', 'hospital', 'num_beds', 'park_area',
        'salary_councilor', 'obesity', 'total_in', 'total_out', 'inner_in',
        'inner_out', 'outer_in', 'outer_out', 'city_in', 'city_out',
        'consm_price_idx', 'food_price_idx', 'prod_price_idx',
        'rental_house_idx', 'pub_service_idx', 'pri_service_idx',
        'source_price_idx', 'life_price_idx', 'debt', 'farm_assets',
        'none_farm_assets', 'assets', 'current_assets', 'current_debt_ratio',
        'asset_debt_ratio', 'seoul_cons_result', 'national_cons_result',
        'seoul_cons_ratio', 'bond_one_year', 'bond_three_year',
        'bond_five_year', 'bond_ten_year', 'corp_bond_yield_rate', 'call_rate',
        'interest', 'interest_on_loan', 'cd '],
       dtype='object')]

In [148]:
df.axes[0] # Row에 대한 정보

RangeIndex(start=0, stop=429466, step=1)

In [147]:
df.axes[1] # Column을 보여줌

Index(['price_per_area', 'price', 'con_year', 'year', 'dong', 'aptnm', 'month',
       'dat', 'area', 'area_sub', 'loc', 'floor', 'qrt', 'yyyyqrt', 'yyyym',
       'gu', 'num_children', 'num_elementary', 'num_middle', 'num_high',
       'edu_subsidy', 'basic_living', 'hospital', 'num_beds', 'park_area',
       'salary_councilor', 'obesity', 'total_in', 'total_out', 'inner_in',
       'inner_out', 'outer_in', 'outer_out', 'city_in', 'city_out',
       'consm_price_idx', 'food_price_idx', 'prod_price_idx',
       'rental_house_idx', 'pub_service_idx', 'pri_service_idx',
       'source_price_idx', 'life_price_idx', 'debt', 'farm_assets',
       'none_farm_assets', 'assets', 'current_assets', 'current_debt_ratio',
       'asset_debt_ratio', 'seoul_cons_result', 'national_cons_result',
       'seoul_cons_ratio', 'bond_one_year', 'bond_three_year',
       'bond_five_year', 'bond_ten_year', 'corp_bond_yield_rate', 'call_rate',
       'interest', 'interest_on_loan', 'cd '],
      dtype='object')

In [149]:
df.columns # Column을 보여줌.

Index(['price_per_area', 'price', 'con_year', 'year', 'dong', 'aptnm', 'month',
       'dat', 'area', 'area_sub', 'loc', 'floor', 'qrt', 'yyyyqrt', 'yyyym',
       'gu', 'num_children', 'num_elementary', 'num_middle', 'num_high',
       'edu_subsidy', 'basic_living', 'hospital', 'num_beds', 'park_area',
       'salary_councilor', 'obesity', 'total_in', 'total_out', 'inner_in',
       'inner_out', 'outer_in', 'outer_out', 'city_in', 'city_out',
       'consm_price_idx', 'food_price_idx', 'prod_price_idx',
       'rental_house_idx', 'pub_service_idx', 'pri_service_idx',
       'source_price_idx', 'life_price_idx', 'debt', 'farm_assets',
       'none_farm_assets', 'assets', 'current_assets', 'current_debt_ratio',
       'asset_debt_ratio', 'seoul_cons_result', 'national_cons_result',
       'seoul_cons_ratio', 'bond_one_year', 'bond_three_year',
       'bond_five_year', 'bond_ten_year', 'corp_bond_yield_rate', 'call_rate',
       'interest', 'interest_on_loan', 'cd '],
      dtype='object')

DataFrame -> Series와 index의 집합으로 되어 있다.

In [150]:
import pandas as pd
df = pd.read_csv('data-zillow.csv',sep=',')

In [151]:
df.mean(axis=0) # 전체 row의 column마다의 숫자값에 대한 평균값

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

In [152]:
df.mean(axis=1) # 하나의 row 내에 숫자값에 대한 평균값

0        2.261937e+05
1        2.141160e+05
2        8.004267e+04
3        5.019133e+04
4        8.387667e+04
5        7.848800e+04
6        2.088007e+05
7        6.761167e+04
8        3.037490e+05
9        5.919967e+04
10       4.048800e+05
11       1.106107e+05
12       1.975800e+04
13       4.641100e+04
14       3.797500e+04
15       6.928600e+04
16       4.378300e+04
17       1.996287e+05
18       2.287850e+05
19       4.154733e+04
20       1.314377e+05
21       1.991630e+05
22       7.821333e+04
23       3.796633e+04
24       5.743500e+04
25       1.437660e+05
26       5.531700e+04
27       6.409300e+04
28       7.101900e+04
29       7.697733e+04
             ...
10800    9.508133e+04
10801    4.300067e+04
10802    1.580057e+05
10803    1.068157e+05
10804    1.228323e+05
10805    6.629900e+04
10806    1.105600e+05
10807    4.130633e+04
10808    3.759180e+05
10809    3.538200e+04
10810    1.019927e+05
10811    1.388200e+05
10812    1.290823e+05
10813    1.143100e+05
10814    8.952033e+04
10815    5.846233e+04
10816    6.802267e+04
10817    1.078091e+06
10818    6.747400e+05
10819    5.982533e+04
10820    9.091200e+04
10821    6.027767e+04
10822    6.827967e+04
10823    5.111733e+04
10824    4.639033e+04
10825    1.430340e+05
10826    7.561033e+04
10827    3.265717e+05
10828    1.412170e+05
10829    1.196740e+05
Length: 10830, dtype: float64

In [153]:
df['RegionID'].max() # series값이기 때문에 1차원이라서 axis값을 넣어줄 필요가 없다.

737791

In [154]:
df.mean(axis='rows') # axis=0

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

In [155]:
df.mean(axis='columns') # axis =1

0        2.261937e+05
1        2.141160e+05
2        8.004267e+04
3        5.019133e+04
4        8.387667e+04
5        7.848800e+04
6        2.088007e+05
7        6.761167e+04
8        3.037490e+05
9        5.919967e+04
10       4.048800e+05
11       1.106107e+05
12       1.975800e+04
13       4.641100e+04
14       3.797500e+04
15       6.928600e+04
16       4.378300e+04
17       1.996287e+05
18       2.287850e+05
19       4.154733e+04
20       1.314377e+05
21       1.991630e+05
22       7.821333e+04
23       3.796633e+04
24       5.743500e+04
25       1.437660e+05
26       5.531700e+04
27       6.409300e+04
28       7.101900e+04
29       7.697733e+04
             ...
10800    9.508133e+04
10801    4.300067e+04
10802    1.580057e+05
10803    1.068157e+05
10804    1.228323e+05
10805    6.629900e+04
10806    1.105600e+05
10807    4.130633e+04
10808    3.759180e+05
10809    3.538200e+04
10810    1.019927e+05
10811    1.388200e+05
10812    1.290823e+05
10813    1.143100e+05
10814    8.952033e+04
10815    5.846233e+04
10816    6.802267e+04
10817    1.078091e+06
10818    6.747400e+05
10819    5.982533e+04
10820    9.091200e+04
10821    6.027767e+04
10822    6.827967e+04
10823    5.111733e+04
10824    4.639033e+04
10825    1.430340e+05
10826    7.561033e+04
10827    3.265717e+05
10828    1.412170e+05
10829    1.196740e+05
Length: 10830, dtype: float64

In [156]:
df.filter(regex='Region', axis=1) 
# 열에서 Region이라는 String을 가지는 것을 filtering해줌.

       RegionID         RegionName
0          6181           New York
1         12447        Los Angeles
2         17426            Chicago
3         13271       Philadelphia
4         40326            Phoenix
5         18959          Las Vegas
6         54296          San Diego
7         38128             Dallas
8         33839           San Jose
9         25290       Jacksonville
10        20330      San Francisco
11        10221             Austin
12        17762            Detroit
13        10920           Columbus
14        32811            Memphis
15        24043          Charlotte
16        17933            El Paso
17        44269             Boston
18        16037            Seattle
19         3523          Baltimore
20        11093             Denver
21        41568         Washington
22         6118          Nashville
23         5976          Milwaukee
24         7481             Tucson
25        13373           Portland
26        33225      Oklahoma City
27        40152              Omaha
28        23429        Albuquerque
29        18203             Fresno
...         ...                ...
10800     36944       Mount Sidney
10801     44501        Cedar Grove
10802     44615              Clark
10803     44844          Daleville
10804     49693        Piney Point
10805     50692               Almo
10806    171874         Bois D Arc
10807      7512            Tyaskin
10808      8646          Inverness
10809     13137             Otwell
10810     25468        Lake Hughes
10811     25749        Marble Hill
10812     25835               Mead
10813     32017           Hesperus
10814     32847            Midland
10815     46172             Lavaca
10816     46452       Mays Landing
10817     49856      Stinson Beach
10818     54802   Upper Brookville
10819     55357            Decatur
10820      5216         Horse Shoe
10821     12312             Laotto
10822     18317          Goldsboro
10823     19929          Phoenicia
10824     22147              Jones
10825     26077            Nehalem
10826     24105  Clear Lake Shores
10827    737788    Lebanon Borough
10828    182023            Henrico
10829     51793     East Hampstead

[10830 rows x 2 columns]

In [157]:
df.filter(regex='([0-9]{3})', axis=0)
# row중에 3자리 숫자를 라벨로 가지는 row들을 필터링해줌.

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
100,2017-05-31,54346,Scottsdale,AZ,Phoenix,Maricopa,100,421200
101,2017-05-31,41760,Winston-Salem,NC,Winston-Salem,Forsyth,101,124200
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
103,2017-05-31,6752,Richmond,VA,Richmond,Richmond City,103,179400
104,2017-05-31,10477,Boca Raton,FL,Miami-Fort Lauderdale,Palm Beach,104,320300
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
106,2017-05-31,44282,Bradenton,FL,North Port-Sarasota-Bradenton,Manatee,106,223000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
108,2017-05-31,17759,Des Moines,IA,Des Moines,Polk,108,120300
109,2017-05-31,13478,Reno,NV,Reno,Washoe,109,317100
110,2017-05-31,20604,Spokane,WA,Spokane,Spokane,110,173400
111,2017-05-31,10210,Augusta,GA,Augusta,Richmond,111,82000
112,2017-05-31,27362,Tacoma,WA,Seattle,Pierce,112,251000
113,2017-05-31,11671,Grand Rapids,MI,Grand Rapids,Kent,113,131800
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
115,2017-05-31,24821,Gainesville,FL,Gainesville,Alachua,115,163500
116,2017-05-31,14701,Woodbridge,VA,Washington,Prince William,116,301800
117,2017-05-31,53673,Ocala,FL,Ocala,Marion,117,126300
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
119,2017-05-31,3737,Boise,ID,Boise City,Ada,119,213700
120,2017-05-31,24960,Greenville,SC,Greenville,Greenville,120,157100
121,2017-05-31,10417,Birmingham,AL,Birmingham,Jefferson,121,61900
122,2017-05-31,6909,Salt Lake City,UT,Salt Lake City,Salt Lake,122,281300
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
124,2017-05-31,30141,Akron,OH,Akron,Summit,124,64000
125,2017-05-31,47426,Rockford,IL,Rockford,Winnebago,125,80500
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
127,2017-05-31,14724,Worcester,MA,Worcester,Worcester,127,214100
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
129,2017-05-31,52998,Little Rock,AR,Little Rock,Pulaski,129,132200
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [158]:
import pandas as pd
df = pd.read_csv('data-netflix.csv',index_col='title')

In [159]:
df.filter(regex='Anato') # axis = 0이 default로 나오기 때문에 index에서 'Anoto'를 가지는 column 데이터들을 뽑아낸 것임.
# index가 문자열일 경우 이렇게 정규식을 꼭 써서 해야 된다.

Empty DataFrame
Columns: []
Index: [White Chicks, Lucky Number Slevin, Grey's Anatomy, Prison Break, How I Met Your Mother, Supernatural, Breaking Bad, The Vampire Diaries, The Walking Dead, Pretty Little Liars, Once Upon a Time, Sherlock, Death Note, Naruto, The Hunter, Lottie Dottie Chicken, Arrow, Black Mirror, The Originals, The 100, Masha and the Bear, Ã“ Pai, Ã“ - Look at This, Nymphomaniac: Volume 1, Hunter X Hunter (2011), Marvel's Luke Cage, Marvel's Iron Fist, Narcos, The Flash, The Seven Deadly Sins, Scream, The Do-Over, OperaÃ§Ãµes Especiais, 3%, Trollhunters, Fearless, Hyena Road, Santa Clarita Diet, Sex, Love and Therapy, White Girl, Girlboss, City of God: 10 Years Later, 13 Reasons Why, Sand Castle, Salvador Martinha - Tip of the Tongue, Sandy Wexler, O Amor no DivÃ£, Stronger Than the World, Back and Forth, Happily Married, Pandora, Lucky Number Slevin, The Office (U.S.), Grey's Anatomy, Prison Break, 90210, Gossip Girl, How I Met Your Mother, Supernatural, Breaking Bad, Parks and Recreation, Glee, The Vampire Diaries, Family Guy, Criminal Minds, Friends, The Secret Life of the American Teenager, One Tree Hill, The Walking Dead, Pretty Little Liars, Shameless (U.S.), New Girl, American Horror Story, Orange Is the New Black, Inside Russia's Toughest Prison, Black Mirror, Bates Motel, The 100, Marvel's Iron Fist, Grace and Frankie, How to Get Away with Murder, The Get Down, Love, The Flash, The OA, Stranger Things, Ingobernable, Zootopia, Meet the Blacks, Finding Dory, Santa Clarita Diet, Sausage Party, Pete's Dragon, Kevin Hart: What Now?, Girlboss, The Discovery, Sand Castle, Sandy Wexler, Chewing Gum, Cheer Squad, Only for One Night, ...]

[1000 rows x 0 columns]

In [160]:
import pandas as pd
df = pd.read_csv('data-zillow.csv')

In [161]:
df.info() # object는 거의 대부분 문자열일 것이다.
#문자열의 경우 regex로 해결함.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10830 entries, 0 to 10829
Data columns (total 8 columns):
Date          10830 non-null object
RegionID      10830 non-null int64
RegionName    10830 non-null object
State         10830 non-null object
Metro         10256 non-null object
County        10830 non-null object
SizeRank      10830 non-null int64
Zhvi          10830 non-null int64
dtypes: int64(3), object(5)
memory usage: 677.0+ KB

In [162]:
df.RegionName.str.capitalize() #첫번째 문자에 대해서 대문자화 해줌
#info했을 때 object의 경우 시간.장소.string.
#object의 경우 .str의 help function을 지원해준다.

0                 New york
1              Los angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las vegas
6                San diego
7                   Dallas
8                 San jose
9             Jacksonville
10           San francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma city
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount sidney
10801          Cedar grove
10802                Clark
10803            Daleville
10804          Piney point
10805                 Almo
10806           Bois d arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake hughes
10811          Marble hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays landing
10817        Stinson beach
10818     Upper brookville
10819              Decatur
10820           Horse shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear lake shores
10827      Lebanon borough
10828              Henrico
10829       East hampstead
Name: RegionName, Length: 10830, dtype: object

In [163]:
df.RegionName.str.upper() #문자에 대해서 대문자화 해줌

0                 NEW YORK
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

In [164]:
df['RegionName'].str.upper() 
#이렇게 dictionary방식으로 쓸 경우 tab 키를 통해서 메소드를 미리보기 지원을 안해줌(Jupyter notebook에서는...)

0                 NEW YORK
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

In [165]:
df['RegionName'] = df.RegionName.str.upper()

In [166]:
df.RegionName.str.replace('YORK','york!')
# RegionName에서 YORK를 york!로 바꿔줌.

0                NEW york!
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

df.RegionName.str은 보통 string에 대한 함수들을 거의 다 갖고 있다.   
(모든 컬럼에 대해서 적용이 되기 때문에 함수형 기법)

In [172]:
df.RegionName.map(lambda x:x+'조보아')

0                 NEW YORK조보아
1              LOS ANGELES조보아
2                  CHICAGO조보아
3             PHILADELPHIA조보아
4                  PHOENIX조보아
5                LAS VEGAS조보아
6                SAN DIEGO조보아
7                   DALLAS조보아
8                 SAN JOSE조보아
9             JACKSONVILLE조보아
10           SAN FRANCISCO조보아
11                  AUSTIN조보아
12                 DETROIT조보아
13                COLUMBUS조보아
14                 MEMPHIS조보아
15               CHARLOTTE조보아
16                 EL PASO조보아
17                  BOSTON조보아
18                 SEATTLE조보아
19               BALTIMORE조보아
20                  DENVER조보아
21              WASHINGTON조보아
22               NASHVILLE조보아
23               MILWAUKEE조보아
24                  TUCSON조보아
25                PORTLAND조보아
26           OKLAHOMA CITY조보아
27                   OMAHA조보아
28             ALBUQUERQUE조보아
29                  FRESNO조보아
                 ...
10800         MOUNT SIDNEY조보아
10801          CEDAR GROVE조보아
10802                CLARK조보아
10803            DALEVILLE조보아
10804          PINEY POINT조보아
10805                 ALMO조보아
10806           BOIS D ARC조보아
10807              TYASKIN조보아
10808            INVERNESS조보아
10809               OTWELL조보아
10810          LAKE HUGHES조보아
10811          MARBLE HILL조보아
10812                 MEAD조보아
10813             HESPERUS조보아
10814              MIDLAND조보아
10815               LAVACA조보아
10816         MAYS LANDING조보아
10817        STINSON BEACH조보아
10818     UPPER BROOKVILLE조보아
10819              DECATUR조보아
10820           HORSE SHOE조보아
10821               LAOTTO조보아
10822            GOLDSBORO조보아
10823            PHOENICIA조보아
10824                JONES조보아
10825              NEHALEM조보아
10826    CLEAR LAKE SHORES조보아
10827      LEBANON BOROUGH조보아
10828              HENRICO조보아
10829       EAST HAMPSTEAD조보아
Name: RegionName, Length: 10830, dtype: object

In [171]:
df.RegionName.map(lambda x: x.format('')) #함수형 기법.... 컬럼의 모든 데이터에 대해서 다 바꿔줌.

0                 NEW YORK
1              LOS ANGELES
2                  CHICAGO
3             PHILADELPHIA
4                  PHOENIX
5                LAS VEGAS
6                SAN DIEGO
7                   DALLAS
8                 SAN JOSE
9             JACKSONVILLE
10           SAN FRANCISCO
11                  AUSTIN
12                 DETROIT
13                COLUMBUS
14                 MEMPHIS
15               CHARLOTTE
16                 EL PASO
17                  BOSTON
18                 SEATTLE
19               BALTIMORE
20                  DENVER
21              WASHINGTON
22               NASHVILLE
23               MILWAUKEE
24                  TUCSON
25                PORTLAND
26           OKLAHOMA CITY
27                   OMAHA
28             ALBUQUERQUE
29                  FRESNO
               ...
10800         MOUNT SIDNEY
10801          CEDAR GROVE
10802                CLARK
10803            DALEVILLE
10804          PINEY POINT
10805                 ALMO
10806           BOIS D ARC
10807              TYASKIN
10808            INVERNESS
10809               OTWELL
10810          LAKE HUGHES
10811          MARBLE HILL
10812                 MEAD
10813             HESPERUS
10814              MIDLAND
10815               LAVACA
10816         MAYS LANDING
10817        STINSON BEACH
10818     UPPER BROOKVILLE
10819              DECATUR
10820           HORSE SHOE
10821               LAOTTO
10822            GOLDSBORO
10823            PHOENICIA
10824                JONES
10825              NEHALEM
10826    CLEAR LAKE SHORES
10827      LEBANON BOROUGH
10828              HENRICO
10829       EAST HAMPSTEAD
Name: RegionName, Length: 10830, dtype: object

In [174]:
df.County.str.lower()

0                      queens
1                 los angeles
2                        cook
3                philadelphia
4                    maricopa
5                       clark
6                   san diego
7                      dallas
8                 santa clara
9                       duval
10              san francisco
11                     travis
12                      wayne
13                   franklin
14                     shelby
15                mecklenburg
16                    el paso
17                    suffolk
18                       king
19             baltimore city
20                     denver
21       district of columbia
22                   davidson
23                  milwaukee
24                       pima
25                  multnomah
26                   oklahoma
27                    douglas
28                 bernalillo
29                     fresno
                 ...
10800                 augusta
10801                 kanawha
10802                   routt
10803               botetourt
10804             saint marys
10805                calloway
10806                  greene
10807                wicomico
10808                   marin
10809                    pike
10810             los angeles
10811                  dawson
10812                    weld
10813                la plata
10814                muscogee
10815               sebastian
10816                atlantic
10817                   marin
10818                  nassau
10819                  benton
10820               henderson
10821                   noble
10822                caroline
10823                  ulster
10824                 autauga
10825               tillamook
10826               galveston
10827               hunterdon
10828                 henrico
10829              rockingham
Name: County, Length: 10830, dtype: object

In [175]:
df['조보아'] = df.County.str.len() # 문근영이라는 column에 ,County의 개수를 넣는다.

In [176]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,조보아
0,2017-05-31,6181,NEW YORK,NY,New York,Queens,0,672400,6
1,2017-05-31,12447,LOS ANGELES,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900,11
2,2017-05-31,17426,CHICAGO,IL,Chicago,Cook,2,222700,4
3,2017-05-31,13271,PHILADELPHIA,PA,Philadelphia,Philadelphia,3,137300,12
4,2017-05-31,40326,PHOENIX,AZ,Phoenix,Maricopa,4,211300,8
5,2017-05-31,18959,LAS VEGAS,NV,Las Vegas,Clark,5,216500,5
6,2017-05-31,54296,SAN DIEGO,CA,San Diego,San Diego,6,572100,9
7,2017-05-31,38128,DALLAS,TX,Dallas-Fort Worth,Dallas,7,164700,6
8,2017-05-31,33839,SAN JOSE,CA,San Jose,Santa Clara,8,877400,11
9,2017-05-31,25290,JACKSONVILLE,FL,Jacksonville,Duval,9,152300,5
10,2017-05-31,20330,SAN FRANCISCO,CA,San Francisco,San Francisco,10,1194300,13
11,2017-05-31,10221,AUSTIN,TX,Austin,Travis,11,321600,6
12,2017-05-31,17762,DETROIT,MI,Detroit,Wayne,12,41500,5
13,2017-05-31,10920,COLUMBUS,OH,Columbus,Franklin,13,128300,8
14,2017-05-31,32811,MEMPHIS,TN,Memphis,Shelby,14,81100,6
15,2017-05-31,24043,CHARLOTTE,NC,Charlotte,Mecklenburg,15,183800,11
16,2017-05-31,17933,EL PASO,TX,El Paso,El Paso,16,113400,7
17,2017-05-31,44269,BOSTON,MA,Boston,Suffolk,17,554600,7
18,2017-05-31,16037,SEATTLE,WA,Seattle,King,18,670300,4
19,2017-05-31,3523,BALTIMORE,MD,Baltimore,Baltimore City,19,121100,14
20,2017-05-31,11093,DENVER,CO,Denver,Denver,20,383200,6
21,2017-05-31,41568,WASHINGTON,DC,Washington,District of Columbia,21,555900,20
22,2017-05-31,6118,NASHVILLE,TN,Nashville,Davidson,22,228500,8
23,2017-05-31,5976,MILWAUKEE,WI,Milwaukee,Milwaukee,23,107900,9
24,2017-05-31,7481,TUCSON,AZ,Tucson,Pima,24,164800,4
25,2017-05-31,13373,PORTLAND,OR,Portland,Multnomah,25,417900,9
26,2017-05-31,33225,OKLAHOMA CITY,OK,Oklahoma City,Oklahoma,26,132700,8
27,2017-05-31,40152,OMAHA,NE,Omaha,Douglas,27,152100,7
28,2017-05-31,23429,ALBUQUERQUE,NM,Albuquerque,Bernalillo,28,189600,10
29,2017-05-31,18203,FRESNO,CA,Fresno,Fresno,29,212700,6
...,...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,MOUNT SIDNEY,VA,Staunton,Augusta,10800,237500,7
10801,2017-05-31,44501,CEDAR GROVE,WV,Charleston,Kanawha,10801,73700,7
10802,2017-05-31,44615,CLARK,CO,Steamboat Springs,Routt,10802,418600,5
10803,2017-05-31,44844,DALEVILLE,VA,Roanoke,Botetourt,10803,264800,9
10804,2017-05-31,49693,PINEY POINT,MD,California-Lexington Park,Saint Marys,10804,308000,11
10805,2017-05-31,50692,ALMO,KY,Murray,Calloway,10805,137400,8
10806,2017-05-31,171874,BOIS D ARC,MO,Springfield,Greene,10806,149000,6
10807,2017-05-31,7512,TYASKIN,MD,Salisbury,Wicomico,10807,105600,8
10808,2017-05-31,8646,INVERNESS,CA,San Francisco,Marin,10808,1108300,5
10809,2017-05-31,13137,OTWELL,IN,Jasper,Pike,10809,82200,4
10810,2017-05-31,25468,LAKE HUGHES,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700,11
10811,2017-05-31,25749,MARBLE HILL,GA,Atlanta,Dawson,10811,379900,6
10812,2017-05-31,25835,MEAD,CO,Greeley,Weld,10812,350600,4
10813,2017-05-31,32017,HESPERUS,CO,Durango,La Plata,10813,300100,8
10814,2017-05-31,32847,MIDLAND,GA,Columbus,Muscogee,10814,224900,8
10815,2017-05-31,46172,LAVACA,AR,Fort Smith,Sebastian,10815,118400,9
10816,2017-05-31,46452,MAYS LANDING,NJ,Atlantic City,Atlantic,10816,146800,8
10817,2017-05-31,49856,STINSON BEACH,CA,San Francisco,Marin,10817,3173600,5
10818,2017-05-31,54802,UPPER BROOKVILLE,NY,New York,Nassau,10818,1958600,6
10819,2017-05-31,55357,DECATUR,AR,Fayetteville,Benton,10819,113300,6
10820,2017-05-31,5216,HORSE SHOE,NC,Asheville,Henderson,10820,256700,9
10821,2017-05-31,12312,LAOTTO,IN,Kendallville,Noble,10821,157700,5
10822,2017-05-31,18317,GOLDSBORO,MD,NaN,Caroline,10822,175700,8
10823,2017-05-31,19929,PHOENICIA,NY,Kingston,Ulster,10823,122600,6
10824,2017-05-31,22147,JONES,AL,Montgomery,Autauga,10824,106200,7
10825,2017-05-31,26077,NEHALEM,OR,NaN,Tillamook,10825,392200,9
10826,2017-05-31,24105,CLEAR LAKE SHORES,TX,Houston,Galveston,10826,191900,9
10827,2017-05-31,737788,LEBANON BOROUGH,NJ,New York,Hunterdon,10827,231100,9
10828,2017-05-31,182023,HENRICO,VA,Richmond,Henrico,10828,230800,7
10829,2017-05-31,51793,EAST HAMPSTEAD,NH,Boston,Rockingham,10829,296400,10

In [177]:
import pandas as pd
df = pd.read_csv('apt_final.csv')

In [178]:
df2 = df[["year", "price"]]

In [179]:
df2

        year     price
0       2009   71000.0
1       2009   83700.0
2       2009  173500.0
3       2009   65000.0
4       2009  160000.0
5       2009   75000.0
6       2009   82000.0
7       2009   78000.0
8       2009  100000.0
9       2009   44800.0
10      2009   37000.0
11      2009   53000.0
12      2009  112000.0
13      2009   78000.0
14      2009   80000.0
15      2009  113500.0
16      2009   66000.0
17      2009   98000.0
18      2009  110500.0
19      2009  116000.0
20      2009   80000.0
21      2009   80000.0
22      2009   98100.0
23      2009   98500.0
24      2009   69000.0
25      2009   52950.0
26      2009  136500.0
27      2009   68500.0
28      2009   79500.0
29      2009   52000.0
...      ...       ...
429436  2017   31000.0
429437  2017   45800.0
429438  2017   22800.0
429439  2017   34000.0
429440  2017   39500.0
429441  2017   29000.0
429442  2017   29000.0
429443  2017   38000.0
429444  2017   25200.0
429445  2017   31300.0
429446  2017   34300.0
429447  2017   35000.0
429448  2017   42500.0
429449  2017   33800.0
429450  2017   12000.0
429451  2017   36900.0
429452  2017   35000.0
429453  2017   26950.0
429454  2017   37500.0
429455  2017   34800.0
429456  2017   35500.0
429457  2017   31500.0
429458  2017   44300.0
429459  2017   12300.0
429460  2017   40000.0
429461  2017   35900.0
429462  2017   34800.0
429463  2017   39000.0
429464  2017   23500.0
429465  2017   35200.0

[429466 rows x 2 columns]

In [180]:
% matplotlib inline

In [181]:
df2.groupby('year').mean() #아파트 가격의 년도별 평균을 나타냄

             price
year
2009  53154.423087
2010  54481.975525
2011  47782.875191
2012  49748.876154
2013  47549.218954
2014  46254.399498
2015  47321.686795
2016  56794.748497
2017  65054.597161

In [ ]:
df2.plot.bar()